Repository openshift/lvm-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: lvm-operator-catalog-4-22-on-push, lvm-operator-catalog-v4.13-on-push, lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-4-16-on-push, lvm-operator-catalog-v4.17-on-push, lvm-operator-catalog-4-19-on-push, lvm-operator-catalog-4-20-on-pull-request, lvm-operator-on-push

Path conditions:
  lvm-operator-catalog-4-22-on-push: (((any of: .tekton/lvm-operator-catalog-pull-request.yaml) or (any of: .tekton/lvm-operator-catalog-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: release/catalog/***)
  lvm-operator-catalog-v4.13-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.13-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.13-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.13.json)) or (any of: templates/lvm-operator-catalog-v4.13-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-14-on-push: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.14-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.14-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.14.json)) or (any of: templates/lvm-operator-catalog-v4.14-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.15-on-pull-request: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.15-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.15-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.15.yaml)) or (any of: templates/lvm-operator-catalog-v4.15-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-16-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.16-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.16-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.16.json)) or (any of: templates/lvm-operator-catalog-v4.16-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.17-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.17-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.17-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.17.yaml)) or (any of: templates/lvm-operator-catalog-v4.17-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-19-on-push: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.19-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.19.json)) or (any of: templates/lvm-operator-catalog-v4.19-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-20-on-pull-request: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.20-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.20.json)) or (any of: templates/lvm-operator-catalog-v4.20-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-on-push: (((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/lvm-operator-pull-request.yaml)) or (any of: .tekton/lvm-operator-push.yaml)) or (any of: release/operator/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)) or (any of: api/***)

fix flake in OCP-88798 testcase
  test/integration/qe_tests/lvms.go
Due: lvm-operator-on-push

feat(RAID): add day2 raid operations support
  bundle/manifests/prometheus-lvmo-rules_monitoring.coreos.com_v1_prometheusrule.yaml
  catalog/lvms-operator/v0.0.1.yaml
  cmd/vgmanager/vgmanager.go
  config/prometheus/prometheus_rules.yaml
  docs/design/raid-support.md
  docs/troubleshooting.md
  go.mod
  internal/controllers/vgmanager/controller.go
  internal/controllers/vgmanager/controller_test.go
  internal/controllers/vgmanager/lvm/lvm.go
  internal/controllers/vgmanager/raid.go
  internal/controllers/vgmanager/raid_metrics.go
  internal/controllers/vgmanager/raid_metrics_test.go
  internal/controllers/vgmanager/raid_test.go
  internal/controllers/vgmanager/status.go
  monitoring/alerts/raidalerts.libsonnet
  monitoring/alerts/vgalerts.libsonnet
  monitoring/config.libsonnet
  monitoring/mixin.libsonnet
Due: lvm-operator-on-push

Release 4.22.0
  releases/lvm-operator-catalog-4.22.0.yaml
  releases/lvm-operator-rhba-v4.22.0.yaml
Due: none

Release catalog 4.17: lvm-operator-catalog-4-17-20260611-092625-000
  releases/lvm-operator-catalog-4-17-20260611-092625-000.yaml
Due: none

Add RHBA bundle release for 4.17.7
  releases/lvm-operator-rhba-v4.17.7.yaml
Due: none

NO-JIRA: version bump
  release/container-build.args
Due: none

Automate OCP-89594-Verify LVMCluster deviceDiscoveryPolicy is configurable
  test/integration/qe_tests/lvms.go
  test/integration/qe_tests/lvms_utils.go
  test/integration/qe_tests/testdata/lvmcluster-devicediscovery-template.yaml
Due: lvm-operator-on-push

Fix 4.22.0 catalog reference
  releases/lvm-operator-catalog-4.22.0.yaml
Due: none

Fix 4.22.0 catalog reference (#2725)
  releases/lvm-operator-catalog-4.22.0.yaml
Due: none

Automate RapiDAST in LVMS
  test/integration/qe_tests/lvms_utils.go
  test/integration/qe_tests/rapidast.go
  test/integration/qe_tests/testdata/rapidast_config_lvm_v1alpha1.yaml
  test/integration/qe_tests/testdata/rapidast_customscan.policy
  test/integration/qe_tests/testdata/rapidast_job.yaml
  test/integration/qe_tests/testdata/rapidast_sa.yaml
Due: lvm-operator-on-push

OCPEDGE-2732: Release 4.16.11
  releases/lvm-operator-catalog-4-16-11.yaml
  releases/lvm-operator-rhba-v4.16.11.yaml
Due: none

Add bugs to release notes
  releases/lvm-operator-catalog-4.18.5.yaml
  releases/lvm-operator-rhba-v4.18.5.yaml
Due: none

update catalog and bundle
  releases/lvm-operator-catalog-4.19.3.yaml
  releases/lvm-operator-rhba-v4.19.3.yaml
Due: none

update catalog and bundle
  releases/lvm-operator-catalog-4.21.1.yaml
  releases/lvm-operator-rhba-v4.21.1.yaml
Due: none

OCPEDGE-2765: capture LVMS implicit knowledge — core beliefs, conventions, and ADRs
  AGENTS.md
  CONTRIBUTING.md
  docs/conventions/api-and-validation.md
  docs/conventions/code-style.md
  docs/conventions/reconciliation.md
  docs/conventions/safety.md
  docs/conventions/testing.md
  docs/core-beliefs.md
  docs/decisions/0001-single-binary-architecture.md
  docs/decisions/0002-v1alpha1-is-stable.md
  docs/decisions/0003-finalizer-hierarchy.md
  docs/decisions/0004-conservative-device-filters.md
  docs/decisions/0005-remove-device-min-age.md
  docs/decisions/0006-orphaned-nodestatus-dedicated-controller.md
  docs/decisions/0007-no-errgroup-for-concurrent-reconciliation.md
  docs/decisions/0008-v2-api-rejection.md
  docs/decisions/0009-configmap-for-lvmd-config.md
  docs/decisions/0010-server-side-apply-for-storageclassoptions.md
  docs/decisions/0011-deletion-gates-pvc-pv-policy.md
  docs/decisions/0012-cel-vs-webhook-validation.md
  docs/decisions/adr-template.md
  docs/decisions/index.md
Due: none

Skip RapiDAST test on disconnected clusters
  test/integration/qe_tests/rapidast.go
Due: lvm-operator-on-push

Skip RapiDAST test on disconnected clusters
  test/integration/qe_tests/lvms_utils.go
  test/integration/qe_tests/rapidast.go
Due: lvm-operator-on-push

Automate OCP-89594-Verify LVMCluster deviceDiscoveryPolicy is configurable
  test/integration/qe_tests/lvms.go
Due: lvm-operator-on-push

chore: Update bundles in catalog templates
  release/catalog/lvm-operator-catalog-candidate-template.yaml
  release/catalog/lvm-operator-catalog-template.yaml
Due: lvm-operator-catalog-4-22-on-push

Fix test 60835 cascading failures by adding thinPoolConfig to vg2
  test/integration/qe_tests/lvms_utils.go
Due: lvm-operator-on-push

OCPEDGE-2766: create LVMS domain glossary and concept relationship map
  AGENTS.md
  docs/domain/concepts.md
  docs/domain/glossary.md
Due: none

NO-JIRA: Add script to check Go toolchain version in LVMS images
  hack/check-go-version.sh
Due: none

NO-JIRA: Add --image mode and validate bundle/catalog inputs
  hack/check-go-version.sh
Due: none

NO-JIRA: Add --all flag to check all minor versions in a catalog
  hack/check-go-version.sh
Due: none

NO-JIRA: fix contextification doc accuracy issues
  AGENTS.md
  docs/architecture.md
  docs/conventions/reconciliation.md
  docs/decisions/0010-server-side-apply-for-storageclassoptions.md
  docs/known-limitations.md
Due: none

NO-JIRA: Fix review issues in check-go-version.sh
  hack/check-go-version.sh
Due: none

OCPEDGE-2530: Add dedicated RAID health monitor controller
  cmd/vgmanager/vgmanager.go
  internal/controllers/vgmanager/controller.go
  internal/controllers/vgmanager/controller_test.go
  internal/controllers/vgmanager/events.go
  internal/controllers/vgmanager/node.go
  internal/controllers/vgmanager/raid_metrics.go
  internal/controllers/vgmanager/raid_metrics_test.go
  internal/controllers/vgmanager/raid_monitor.go
  internal/controllers/vgmanager/raid_monitor_test.go
  internal/controllers/vgmanager/status.go
Due: lvm-operator-on-push

feat(agents): add agentic harness foundation with safety guardrails
  .claude/settings.json
  .github/copilot-instructions.md
  AGENTS.md
Due: none
