Repository openshift/lvm-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: lvm-operator-catalog-4-20-on-pull-request, lvm-operator-catalog-v4.13-on-push, lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-4-16-on-push, lvm-operator-catalog-v4.17-on-push, lvm-operator-catalog-4-19-on-push, lvm-operator-on-push

lvm-operator-catalog-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.20-on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

lvm-operator-catalog-v4.13-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.13-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-4-14-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.14-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-v4.15-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.15-on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

lvm-operator-catalog-4-16-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.16-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-v4.17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.17-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.19-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator:{{revision}}
  - name: dockerfile
    value: release/operator/konflux.Dockerfile
  - name: prefetch-input
  ...

feat: onboarding 4.19 catalog to release-4.19 (#1472)
  .pre-commit-config.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  Makefile
  release/catalog/catalog.konflux.Dockerfile
  release/catalog/lvm-operator-catalog-template.yaml
  release/catalog/lvm-operator-catalog.json
  release/hack/generate-release-helpers.sh
  release/hack/generate-release.sh
  release/hack/generate_catalog.sh
  release/hack/generate_catalog_template.sh
  release/hack/render-catalog.sh
  release/konflux.make
Due: lvm-operator-catalog-4-20-on-pull-request, lvm-operator-on-push

Red Hat Konflux update lvm-operator-catalog-4-21
  .tekton/lvm-operator-catalog-4-21-pull-request.yaml
  .tekton/lvm-operator-catalog-4-21-push.yaml
Due: none

feat: adding a catalog build pipeline so we can manage task references
  .tekton/catalog-build-pipeline.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  release/hack/generate-release-helpers.sh
  release/hack/generate-release.sh
  release/konflux.make
Due: lvm-operator-catalog-4-20-on-pull-request

feat: adding a catalog build pipeline so we can manage task references (#1488)
  .tekton/catalog-build-pipeline.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  release/hack/generate-release-helpers.sh
  release/hack/generate-release.sh
  release/konflux.make
Due: lvm-operator-catalog-4-20-on-pull-request

feat: adding a custom catalog pipeline for managing task references
  .tekton/catalog-build-pipeline.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  release/konflux.make
Due: lvm-operator-catalog-4-20-on-pull-request

feat: adding a custom catalog pipeline for managing task references (#1491)
  .tekton/catalog-build-pipeline.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  release/konflux.make
Due: lvm-operator-catalog-4-20-on-pull-request

feat: adding a custom catalog pipeline for managing task references (#1490)
  .tekton/catalog-build-pipeline.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  release/konflux.make
Due: lvm-operator-catalog-4-20-on-pull-request

feat: onboarding the 4.17 catalog to the release-4.17 branch
  .pre-commit-config.yaml
  .tekton/catalog-build-pipeline.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  Makefile
  release/catalog/catalog.konflux.Dockerfile
  release/catalog/lvm-operator-catalog-template.yaml
  release/catalog/lvm-operator-catalog.json
  release/hack/generate-release-helpers.sh
  release/hack/generate-release.sh
  release/hack/generate_catalog.sh
  release/hack/generate_catalog_template.sh
  release/hack/render-catalog.sh
  release/konflux.make
Due: lvm-operator-catalog-4-20-on-pull-request, lvm-operator-on-push

feat: onboarding the 4.17 catalog to the release-4.17 branch (#1493)
  .pre-commit-config.yaml
  .tekton/catalog-build-pipeline.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  Makefile
  release/catalog/catalog.konflux.Dockerfile
  release/catalog/lvm-operator-catalog-template.yaml
  release/catalog/lvm-operator-catalog.json
  release/hack/generate-release-helpers.sh
  release/hack/generate-release.sh
  release/hack/generate_catalog.sh
  release/hack/generate_catalog_template.sh
  release/hack/render-catalog.sh
  release/konflux.make
Due: lvm-operator-catalog-4-20-on-pull-request, lvm-operator-on-push

feat: onboarding the 4.14 catalog to release-4.14
  .tekton/catalog-build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  Makefile
  release/catalog/catalog.konflux.Dockerfile
  release/catalog/lvm-operator-catalog-template.yaml
  release/catalog/lvm-operator-catalog.json
  release/hack/generate-release-helpers.sh
  release/hack/generate-release.sh
  release/hack/generate_catalog.sh
  release/hack/generate_catalog_template.sh
  release/hack/render-catalog.sh
  release/konflux.make
Due: lvm-operator-catalog-4-20-on-pull-request, lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-4-19-on-push, lvm-operator-on-push

fix: adding the images-mirror-set for 4.17 konflux
  .tekton/images-mirror-set.yaml
Due: lvm-operator-catalog-4-20-on-pull-request, lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-4-19-on-push

feat: added a catalog build pipeline for managing task references
  .tekton/catalog-build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  release/konflux.make
Due: lvm-operator-catalog-4-20-on-pull-request, lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-4-19-on-push

feat: added a catalog build pipeline for managing task references (#1492)
  .tekton/catalog-build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  release/konflux.make
Due: lvm-operator-catalog-4-20-on-pull-request, lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-4-19-on-push

fix: adding the images-mirror-set for 4.17 konflux (#1496)
  .tekton/images-mirror-set.yaml
Due: lvm-operator-catalog-4-20-on-pull-request, lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-4-19-on-push

feat: onboarding 4.16 catalog to release-4.16 branch
  .pre-commit-config.yaml
  .tekton/catalog-build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
  Makefile
  release/catalog/catalog.konflux.Dockerfile
  release/catalog/lvm-operator-catalog-template.yaml
  release/catalog/lvm-operator-catalog.json
  release/hack/generate-release-helpers.sh
  release/hack/generate-release.sh
  release/hack/generate_catalog.sh
  release/hack/generate_catalog_template.sh
  release/hack/render-catalog.sh
  release/konflux.make
Due: lvm-operator-catalog-4-20-on-pull-request, lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-4-19-on-push, lvm-operator-on-push

feat: onboarding 4.16 catalog to release-4.16 branch (#1494)
  .pre-commit-config.yaml
  .tekton/catalog-build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
  Makefile
  release/catalog/catalog.konflux.Dockerfile
  release/catalog/lvm-operator-catalog-template.yaml
  release/catalog/lvm-operator-catalog.json
  release/hack/generate-release-helpers.sh
  release/hack/generate-release.sh
  release/hack/generate_catalog.sh
  release/hack/generate_catalog_template.sh
  release/hack/render-catalog.sh
  release/konflux.make
Due: lvm-operator-catalog-4-20-on-pull-request, lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-4-19-on-push, lvm-operator-on-push

Added integration directory with integration.go file
  test/integration/Dockerfile
  test/integration/Makefile
  test/integration/go.mod
  test/integration/go.sum
  test/integration/helloworld/hello_world.go
  test/integration/integration.go
Due: lvm-operator-on-push

update device removal logic
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/rbac/vg_manager_role.yaml
  internal/controllers/vgmanager/controller.go
  internal/controllers/vgmanager/device_mapping_helper.go
  internal/controllers/vgmanager/device_path_mapping.go
  internal/controllers/vgmanager/device_removal_transaction.go
  internal/controllers/vgmanager/device_removal_validation.go
  internal/controllers/vgmanager/lvm/lvm.go
  internal/controllers/vgmanager/lvm/lvm_test.go
  internal/controllers/vgmanager/lvm/mocks/mock_lvm.go
Due: lvm-operator-on-push

feat: onboarding the 4.14 catalog to release-4.14 (#1495)
  .tekton/catalog-build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  Makefile
  release/catalog/catalog.konflux.Dockerfile
  release/catalog/lvm-operator-catalog-template.yaml
  release/catalog/lvm-operator-catalog.json
  release/hack/generate-release-helpers.sh
  release/hack/generate-release.sh
  release/hack/generate_catalog.sh
  release/hack/generate_catalog_template.sh
  release/hack/render-catalog.sh
  release/konflux.make
Due: lvm-operator-catalog-4-20-on-pull-request, lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-4-19-on-push, lvm-operator-on-push

Added integration directory with integration.go file (#1331)
  test/integration/Dockerfile
  test/integration/Makefile
  test/integration/go.mod
  test/integration/go.sum
  test/integration/helloworld/hello_world.go
  test/integration/integration.go
Due: lvm-operator-on-push

test: trying to use remote pipelines to the main branch
  .tekton/catalog-build-pipeline.yaml
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-catalog-4-20-on-pull-request, lvm-operator-on-push

test: trying to use remote pipelines to the main branch (#1515)
  .tekton/catalog-build-pipeline.yaml
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-catalog-4-20-on-pull-request, lvm-operator-on-push

fix: dropping the test folder from the bundle to avoid interference when generating bundle configs
  release/bundle/bundle.konflux.Dockerfile
Due: none

fix: dropping the test folder from the bundle to avoid interference when generating bundle configs (#1520)
  release/bundle/bundle.konflux.Dockerfile
Due: none

chore: moving release-4.19 to remote tekton pipelines
  .tekton/catalog-build-pipeline.yaml
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-catalog-4-20-on-pull-request, lvm-operator-on-push

chore: moving release-4.19 to remote tekton pipelines (#1521)
  .tekton/catalog-build-pipeline.yaml
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-catalog-4-20-on-pull-request, lvm-operator-on-push

fix: adding a skip range to the catalog to accomodate y-stream upgrades
  .tekton/catalog-build-pipeline.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  release/catalog/lvm-operator-catalog.json
  release/hack/generate_catalog.sh
  release/konflux.make
Due: lvm-operator-catalog-4-20-on-pull-request

fix: adding a skip range to the catalog to accomodate y-stream upgrades (#1528)
  .tekton/catalog-build-pipeline.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  release/catalog/lvm-operator-catalog.json
  release/hack/generate_catalog.sh
  release/konflux.make
Due: lvm-operator-catalog-4-20-on-pull-request

chore: switching release-4.18 to remote tekton pipelines
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-on-push

chore: switching release-4.18 to remote tekton pipelines (#1533)
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-on-push

chore: shifting 4.17 to use remote tekton pipelines
  .tekton/catalog-build-pipeline.yaml
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
  release/hack/update-konflux-task-refs.sh
  release/konflux.make
Due: lvm-operator-catalog-4-20-on-pull-request, lvm-operator-on-push

fix: adding a skip range on the latest version in the 4.19 catalog
  release/catalog/lvm-operator-catalog.json
  release/hack/generate_catalog.sh
Due: lvm-operator-catalog-4-20-on-pull-request

fix: dropping 4.19.2 for bugfix
  release/catalog/lvm-operator-catalog.json
Due: lvm-operator-catalog-4-20-on-pull-request

NO-JIRA: Release 4.19 catalog skip range fix (#1537)
  release/catalog/lvm-operator-catalog.json
  release/hack/generate_catalog.sh
Due: lvm-operator-catalog-4-20-on-pull-request

update device removal logic
  api/v1alpha1/lvmcluster_webhook.go
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/rbac/vg_manager_role.yaml
  internal/controllers/vgmanager/controller.go
  internal/controllers/vgmanager/controller_test.go
  internal/controllers/vgmanager/device_mapping_helper.go
  internal/controllers/vgmanager/device_path_mapping.go
  internal/controllers/vgmanager/device_removal_transaction.go
  internal/controllers/vgmanager/device_removal_validation.go
  internal/controllers/vgmanager/lvm/lvm.go
  internal/controllers/vgmanager/lvm/lvm_test.go
  internal/controllers/vgmanager/lvm/mocks/mock_lvm.go
Due: lvm-operator-on-push

release: 4.19.1 catalog patch for y-stream upgrades
  releases/lvm-operator-catalog-4-19-pzsf6.yaml
Due: none

release: 4.19.1 catalog patch for y-stream upgrades (#1538)
  releases/lvm-operator-catalog-4-19-pzsf6.yaml
Due: none

fix: multipart builds doesn't work for catalogs due to allowed images in conforma
  release/catalog/catalog.konflux.Dockerfile
  release/hack/generate_catalog.sh
Due: lvm-operator-catalog-4-20-on-pull-request

Path conditions:
  lvm-operator-catalog-4-20-on-pull-request: ((((any of: .tekton/lvm-operator-catalog-pull-request.yaml) or (any of: .tekton/lvm-operator-catalog-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: release/catalog/***)) or (((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.20-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.20.json)) or (any of: templates/lvm-operator-catalog-v4.20-template.yaml)) or (any of: konflux-catalog.Dockerfile))
  lvm-operator-catalog-v4.13-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.13-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.13-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.13.json)) or (any of: templates/lvm-operator-catalog-v4.13-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-14-on-push: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.14-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.14-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.14.json)) or (any of: templates/lvm-operator-catalog-v4.14-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.15-on-pull-request: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.15-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.15-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.15.yaml)) or (any of: templates/lvm-operator-catalog-v4.15-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-16-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.16-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.16-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.16.json)) or (any of: templates/lvm-operator-catalog-v4.16-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.17-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.17-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.17-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.17.yaml)) or (any of: templates/lvm-operator-catalog-v4.17-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-19-on-push: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.19-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.19.json)) or (any of: templates/lvm-operator-catalog-v4.19-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-on-push: (((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/lvm-operator-pull-request.yaml)) or (any of: .tekton/lvm-operator-push.yaml)) or (any of: release/operator/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)) or (any of: api/***)
