Repository openshift/lvm-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: lvm-operator-catalog-v4.13-on-push, lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-4-16-on-push, lvm-operator-catalog-v4.17-on-push, lvm-operator-catalog-4-19-on-push, lvm-operator-catalog-4-20-on-pull-request, lvm-operator-on-push

lvm-operator-catalog-v4.13-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.13-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-4-14-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.14-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-v4.15-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.15-on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

lvm-operator-catalog-4-16-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.16-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-v4.17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.17-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.19-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.20-on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

lvm-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator:{{revision}}
  - name: dockerfile
    value: release/operator/konflux.Dockerfile
  - name: prefetch-input
  ...

NO-JIRA: fix: adding topolvm mirrors for the catalog (#1332)
  .tekton/images-mirror-set.yaml
  .tekton/lvm-operator-catalog-v4.14-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.14-push.yaml
  .tekton/lvm-operator-catalog-v4.15-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.15-push.yaml
  .tekton/lvm-operator-catalog-v4.16-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.16-push.yaml
  .tekton/lvm-operator-catalog-v4.17-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.17-push.yaml
  .tekton/lvm-operator-catalog-v4.18-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.18-push.yaml
  .tekton/lvm-operator-catalog-v4.19-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.19-push.yaml
  .tekton/lvm-operator-catalog-v4.20-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.20-push.yaml
Due: lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-4-16-on-push, lvm-operator-catalog-v4.17-on-push, lvm-operator-catalog-4-19-on-push, lvm-operator-catalog-4-20-on-pull-request

fix: adding in rpm-lockfile management
  renovate.json
Due: none

fix: adding in rpm-lockfile management (#1352)
  renovate.json
Due: none

allow device removal
  api/v1alpha1/lvmcluster_webhook.go
  config/manager/kustomization.yaml
  config/rbac/vg_manager_role.yaml
  internal/controllers/vgmanager/controller.go
  internal/controllers/vgmanager/controller_test.go
  internal/controllers/vgmanager/device_mapping_helper.go
  internal/controllers/vgmanager/device_path_mapping.go
  internal/controllers/vgmanager/device_removal_transaction.go
  internal/controllers/vgmanager/device_removal_validation.go
  internal/controllers/vgmanager/lvm/lvm.go
  internal/controllers/vgmanager/lvm/mocks/mock_lvm.go
Due: lvm-operator-on-push

fix: issue #1354: renovate gomod config
  renovate.json
Due: none

fix: issue #1354: renovate gomod config (#1355)
  renovate.json
Due: none

fix: adding the must gather image annotation and regenerating the manifests
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  config/manifests/bases/clusterserviceversion.yaml.in
  config/manifests/bases/lvms-operator.clusterserviceversion.yaml
  release/hack/render_templates.sh
Due: none

fix: rerunning the bundle and catalog generators
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  catalog/lvms-operator/v0.0.1.yaml
Due: none

add mustgather image annotation to clusteroperator file
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/manifests/bases/clusterserviceversion.yaml.in
  config/manifests/bases/lvms-operator.clusterserviceversion.yaml
  hack/render_templates.sh
Due: none

Added integration directory with integration.go file
  go.mod
  go.sum
  test/integration/Dockerfile
  test/integration/Makefile
  test/integration/helloworld/hello_world.go
  test/integration/integration.go
Due: lvm-operator-on-push

misc fixes
  api/v1alpha1/lvmcluster_webhook.go
  internal/controllers/vgmanager/controller.go
Due: lvm-operator-on-push

fix: removing precommit updates with renovate
  renovate.json
Due: none

fix: removing precommit updates with renovate (#1401)
  renovate.json
Due: none

fix: dropping the precommit updates from renovate
  renovate.json
Due: none

fix: dropping precommit updates from renovate
  renovate.json
Due: none

fix: dropping the precommit updates from renovate (#1402)
  renovate.json
Due: none

fix: dropping precommit updates from renovate (#1403)
  renovate.json
Due: none

fix webhook validation
  api/v1alpha1/lvmcluster_test.go
  api/v1alpha1/lvmcluster_webhook.go
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/manager/kustomization.yaml
  internal/controllers/vgmanager/controller.go
  internal/controllers/vgmanager/device_removal_transaction.go
  internal/controllers/vgmanager/device_removal_validation.go
  internal/controllers/vgmanager/lvm/mocks/mock_lvm.go
Due: lvm-operator-on-push

feat: adding the pipelines to lvm-operator
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
Due: none

feat: adding the pipelines to lvm-operator (#1426)
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
Due: none

feat: onboarding the catalog to main
  .pre-commit-config.yaml
  Makefile
  release/catalog/catalog.konflux.Dockerfile
  release/catalog/lvm-operator-catalog-template.yaml
  release/catalog/lvm-operator-catalog.json
  release/hack/generate_catalog.sh
  release/hack/generate_catalog_template.sh
  release/hack/render-catalog.sh
  release/konflux.make
Due: lvm-operator-on-push

feat: onboarding the catalog to main (#1422)
  .pre-commit-config.yaml
  Makefile
  release/catalog/catalog.konflux.Dockerfile
  release/catalog/lvm-operator-catalog-template.yaml
  release/catalog/lvm-operator-catalog.json
  release/hack/generate_catalog.sh
  release/hack/generate_catalog_template.sh
  release/hack/render-catalog.sh
  release/konflux.make
Due: lvm-operator-on-push

fix: updated catalog pipeline reference
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  release/catalog/catalog.konflux.Dockerfile
Due: none

fix: updated catalog pipeline reference (#1427)
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  release/catalog/catalog.konflux.Dockerfile
Due: none

chore: version bumping main to 4.21
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
  release/catalog/lvm-operator-catalog-template.yaml
  release/catalog/lvm-operator-catalog.json
  release/container-build.args
  release/konflux.make
Due: lvm-operator-on-push

chore: updating pipeline refs to release-4.20
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
Due: lvm-operator-on-push

chore: version bumping main to 4.21 (#1428)
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
  release/catalog/lvm-operator-catalog-template.yaml
  release/catalog/lvm-operator-catalog.json
  release/container-build.args
  release/konflux.make
Due: lvm-operator-on-push

chore: updating pipeline refs to release-4.20 (#1429)
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
Due: lvm-operator-on-push

add mustgather image annotation to clusteroperator file (#1341)
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/manifests/bases/clusterserviceversion.yaml.in
  config/manifests/bases/lvms-operator.clusterserviceversion.yaml
  hack/render_templates.sh
Due: none

fix: adding the precommit-config to main
  renovate.json
Due: none

fix: adding the precommit-config to main (#1454)
  renovate.json
Due: none

feat: onboarding the 4.18 catalog to release-4.18 branch
  .pre-commit-config.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  Makefile
  release/catalog/catalog.konflux.Dockerfile
  release/catalog/lvm-operator-catalog-template.yaml
  release/catalog/lvm-operator-catalog.json
  release/hack/generate-release-helpers.sh
  release/hack/generate-release.sh
  release/hack/generate_catalog.sh
  release/hack/generate_catalog_template.sh
  release/hack/render-catalog.sh
  release/konflux.make
Due: lvm-operator-on-push

feat: onboarding 4.19 catalog to release-4.19
  .pre-commit-config.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  Makefile
  release/catalog/catalog.konflux.Dockerfile
  release/catalog/lvm-operator-catalog-template.yaml
  release/catalog/lvm-operator-catalog.json
  release/hack/generate-release-helpers.sh
  release/hack/generate-release.sh
  release/hack/generate_catalog.sh
  release/hack/generate_catalog_template.sh
  release/hack/render-catalog.sh
  release/konflux.make
Due: lvm-operator-on-push

fix: fixing the catalog build
  release/catalog/catalog.konflux.Dockerfile
  release/hack/render-catalog.sh
  release/konflux.make
Due: none

fix: running the catalog-render script to remove staging references
  release/catalog/catalog.konflux.Dockerfile
  release/hack/render-catalog.sh
  release/konflux.make
Due: none

fix: running the catalog-render script to remove staging references (#1479)
  release/catalog/catalog.konflux.Dockerfile
  release/hack/render-catalog.sh
  release/konflux.make
Due: none

fix: fixing the catalog build (#1480)
  release/catalog/catalog.konflux.Dockerfile
  release/hack/render-catalog.sh
  release/konflux.make
Due: none

feat: onboarding the 4.18 catalog to release-4.18 branch (#1471)
  .pre-commit-config.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  Makefile
  release/catalog/catalog.konflux.Dockerfile
  release/catalog/lvm-operator-catalog-template.yaml
  release/catalog/lvm-operator-catalog.json
  release/hack/generate-release-helpers.sh
  release/hack/generate-release.sh
  release/hack/generate_catalog.sh
  release/hack/generate_catalog_template.sh
  release/hack/render-catalog.sh
  release/konflux.make
Due: lvm-operator-on-push

Path conditions:
  lvm-operator-catalog-v4.13-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.13-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.13-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.13.json)) or (any of: templates/lvm-operator-catalog-v4.13-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-14-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.14-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.14-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.14.json)) or (any of: templates/lvm-operator-catalog-v4.14-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.15-on-pull-request: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.15-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.15-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.15.yaml)) or (any of: templates/lvm-operator-catalog-v4.15-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-16-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.16-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.16-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.16.json)) or (any of: templates/lvm-operator-catalog-v4.16-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.17-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.17-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.17-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.17.yaml)) or (any of: templates/lvm-operator-catalog-v4.17-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-19-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.19-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.19-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.19.json)) or (any of: templates/lvm-operator-catalog-v4.19-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-20-on-pull-request: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.20-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.20.json)) or (any of: templates/lvm-operator-catalog-v4.20-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-on-push: (((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/lvm-operator-pull-request.yaml)) or (any of: .tekton/lvm-operator-push.yaml)) or (any of: release/operator/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)) or (any of: api/***)
