Repository openshift/lvm-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: lvm-operator-bundle-on-push, lvm-operator-catalog-v4.17-on-push

lvm-operator-bundle-on-push:
  timeouts:
    pipeline: 1h30m
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-bundle:{{revision}}
  - name: dockerfile
  ...

lvm-operator-catalog-v4.17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.17-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

fix: adding a line between konflux refs to fix merge conflicts
  release/bundle/bundle.konflux.Dockerfile
Due: lvm-operator-bundle-on-push

Reworked the catalogs to be openshift compatible
  .pre-commit-config.yaml
  .tekton/lvm-operator-catalog-v4.12-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.12-push.yaml
  .tekton/lvm-operator-catalog-v4.13-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.13-push.yaml
  .tekton/lvm-operator-catalog-v4.14-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.14-push.yaml
  .tekton/lvm-operator-catalog-v4.15-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.15-push.yaml
  .tekton/lvm-operator-catalog-v4.16-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.16-push.yaml
  .tekton/lvm-operator-catalog-v4.17-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.17-push.yaml
  .tekton/lvm-operator-catalog-v4.18-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.18-push.yaml
  Makefile
  catalogs/lvm-operator-catalog-v4.12.json
  catalogs/lvm-operator-catalog-v4.12.yaml
  catalogs/lvm-operator-catalog-v4.13.json
  catalogs/lvm-operator-catalog-v4.13.yaml
  catalogs/lvm-operator-catalog-v4.14.json
  catalogs/lvm-operator-catalog-v4.14.yaml
  catalogs/lvm-operator-catalog-v4.15.json
  catalogs/lvm-operator-catalog-v4.15.yaml
  catalogs/lvm-operator-catalog-v4.16.json
  catalogs/lvm-operator-catalog-v4.16.yaml
  catalogs/lvm-operator-catalog-v4.17.json
  catalogs/lvm-operator-catalog-v4.17.yaml
  catalogs/lvm-operator-catalog-v4.18.json
  catalogs/lvm-operator-catalog-v4.18.yaml
  hack/generate_catalogs.sh
  konflux-catalog.Dockerfile
Due: lvm-operator-catalog-v4.17-on-push

Red Hat Konflux purge lvm-operator-catalog Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
Due: none

Red Hat Konflux update lvm-operator-catalog Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
Due: none

fix: remove LVMVolumeGroupNodeStatus finalizer on a node deletion
  internal/controllers/constants/constants.go
  internal/controllers/lvmcluster/resource/lvm_volumegroupnodestatus.go
  internal/controllers/node/removal/controller.go
Due: none

chore(deps): update github.com/google/pprof digest to 24c5476
  go.mod
Due: none

Add required params
  .tekton/multi-arch-build-pipeline.yaml
Due: none

Add required params
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-bundle-on-push

Update single-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-bundle-on-push

Update multi-arch-build-pipeline.yaml
  .tekton/multi-arch-build-pipeline.yaml
Due: none

Exclude .Close error checks from linter
  .golangci.yml
Due: none

Do not check errs for defers
  .golangci.yml
Due: none

Revert back to exclude close
  .golangci.yml
Due: none

Fix linter issues
  .golangci.yml
  api/v1alpha1/webhook_suite_test.go
  cmd/vgmanager/vgmanager.go
  internal/controllers/vgmanager/lvmd/lvmd.go
Due: none

chore: rebase topolvm with latest changes
  go.mod
  go.sum
  vendor/github.com/topolvm/topolvm/.golangci.yml
  vendor/github.com/topolvm/topolvm/CODEOWNERS
  vendor/github.com/topolvm/topolvm/Dockerfile
  vendor/github.com/topolvm/topolvm/Makefile
  vendor/github.com/topolvm/topolvm/README.md
  vendor/github.com/topolvm/topolvm/RELEASE.md
  vendor/github.com/topolvm/topolvm/container-structure-test.yaml
  vendor/github.com/topolvm/topolvm/internal/driver/controller.go
  vendor/github.com/topolvm/topolvm/internal/driver/node.go
  vendor/github.com/topolvm/topolvm/internal/filesystem/util.go
  vendor/github.com/topolvm/topolvm/internal/lvmd/command/lvm.go
  vendor/github.com/topolvm/topolvm/internal/lvmd/command/lvm_lv_attr.go
  vendor/github.com/topolvm/topolvm/internal/lvmd/lvservice.go
  vendor/github.com/topolvm/topolvm/pkg/lvmd/proto/lvmd.pb.go
  vendor/github.com/topolvm/topolvm/pkg/lvmd/proto/lvmd_grpc.pb.go
  vendor/github.com/topolvm/topolvm/versions.mk
  vendor/modules.txt
Due: none

change default namespace
  CONTRIBUTING.md
  Makefile
  README.md
  api/v1alpha1/lvmcluster_test.go
  bundle/manifests/lvms-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/default/kustomization.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/clusterserviceversion.yaml.in
  config/manifests/bases/lvms-operator.clusterserviceversion.yaml
  config/olm-deploy/kustomization.yaml
  config/olm-deploy/lvms-catalogsource.yaml
  config/olm-deploy/lvms-operator-subscription.yaml
  config/olm-deploy/openshift-lvm-storage-namespace.yaml
  config/olm-deploy/openshift-lvm-storage-operatorgroup.yaml
  config/olm-deploy/openshift-storage-operatorgroup.yaml
  config/prometheus/kustomization.yaml
  config/prometheus/monitor.yaml
  config/webhook/kustomization.yaml
  docs/design/proposals/logical-volume-manager-storage-api-v2.md
  docs/troubleshooting.md
  hack/create-buildconfig.sh
  internal/controllers/lvmcluster/suite_test.go
  internal/controllers/persistent-volume-claim/controller_test.go
  internal/controllers/persistent-volume/controller_test.go
  internal/controllers/vgmanager/controller_test.go
  internal/migration/microlvms/cleanup_test.go
  internal/migration/wipe-refactor/annotate_test.go
  must-gather/collection-scripts/gather_namespaced_resources
  test/e2e/config_test.go
  test/e2e/subscription_test.go
  test/performance/collector_test.go
  test/performance/main.go
Due: lvm-operator-bundle-on-push

feat(controller): check for stale node finalizers
  internal/controllers/lvmcluster/controller.go
Due: none

Konflux build pipeline service account migration for lvm-operator Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
Due: none

Konflux build pipeline service account migration for lvm-operator-bundle Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
Due: lvm-operator-bundle-on-push

Konflux build pipeline service account migration for lvms-must-gather Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
Due: none

change default namespace
  CONTRIBUTING.md
  Makefile
  README.md
  api/v1alpha1/lvmcluster_test.go
  bundle/manifests/lvms-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/default/kustomization.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/clusterserviceversion.yaml.in
  config/manifests/bases/lvms-operator.clusterserviceversion.yaml
  config/olm-deploy/kustomization.yaml
  config/olm-deploy/lvms-catalogsource.yaml
  config/olm-deploy/lvms-operator-subscription.yaml
  config/olm-deploy/openshift-lvm-storage-namespace.yaml
  config/olm-deploy/openshift-lvm-storage-operatorgroup.yaml
  config/olm-deploy/openshift-storage-operatorgroup.yaml
  config/prometheus/kustomization.yaml
  config/prometheus/monitor.yaml
  config/webhook/kustomization.yaml
  docs/design/proposals/logical-volume-manager-storage-api-v2.md
  docs/troubleshooting.md
  hack/create-buildconfig.sh
  internal/controllers/lvmcluster/suite_test.go
  internal/controllers/persistent-volume-claim/controller_test.go
  internal/controllers/persistent-volume/controller_test.go
  internal/controllers/vgmanager/controller_test.go
  internal/migration/microlvms/cleanup_test.go
  internal/migration/wipe-refactor/annotate_test.go
  must-gather/collection-scripts/gather_namespaced_resources
  test/e2e/config_test.go
  test/e2e/lvm_suite_test.go
  test/e2e/subscription_test.go
  test/performance/collector_test.go
  test/performance/main.go
Due: lvm-operator-bundle-on-push

chore: catalog updates
  catalogs/lvm-operator-catalog-v4.14.json
  catalogs/lvm-operator-catalog-v4.15.json
  catalogs/lvm-operator-catalog-v4.16.json
  catalogs/lvm-operator-catalog-v4.17.json
  catalogs/lvm-operator-catalog-v4.18.json
  templates/lvm-operator-catalog-v4.14-template.yaml
  templates/lvm-operator-catalog-v4.15-template.yaml
  templates/lvm-operator-catalog-v4.16-template.yaml
  templates/lvm-operator-catalog-v4.17-template.yaml
  templates/lvm-operator-catalog-v4.18-template.yaml
Due: lvm-operator-catalog-v4.17-on-push

fix: adding the 4.19 catalog
  .tekton/lvm-operator-catalog-v4.19-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.19-push.yaml
  catalogs/lvm-operator-catalog-v4.19.json
  templates/lvm-operator-catalog-v4.19-template.yaml
Due: none

fix: using the brew pre-release pull spec
  .tekton/lvm-operator-catalog-v4.19-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.19-push.yaml
Due: none

feat: adding in workflow scripts for using a custom catalog on a cluster
  .gitignore
  Makefile
  README.md
  hack/generate_catalogsource.sh
  hack/generate_imagedigestmirrors.sh
  hack/generate_operator_install_manifests.sh
  hack/update_cluster_pull_secret.sh
Due: none

fix: updating component names for the pipelines
  .tekton/lvm-operator-catalog-v4.12-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.12-push.yaml
  .tekton/lvm-operator-catalog-v4.13-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.13-push.yaml
  .tekton/lvm-operator-catalog-v4.14-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.14-push.yaml
  .tekton/lvm-operator-catalog-v4.15-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.15-push.yaml
  .tekton/lvm-operator-catalog-v4.16-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.16-push.yaml
  .tekton/lvm-operator-catalog-v4.17-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.17-push.yaml
  .tekton/lvm-operator-catalog-v4.18-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.18-push.yaml
  .tekton/lvm-operator-catalog-v4.19-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.19-push.yaml
Due: lvm-operator-catalog-v4.17-on-push

fix: updating konflux task refs
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-bundle-on-push

fix: updating the rpm-lock files
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  release/must-gather/rpms.lock.yaml
  release/operator/rpms.lock.yaml
Due: none

fix: correct path for must-gather rpms on push
  .tekton/lvms-must-gather-push.yaml
Due: none

Path conditions:
  lvm-operator-bundle-on-push: ((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/lvm-operator-bundle-pull-request.yaml)) or (any of: .tekton/lvm-operator-bundle-push.yaml)) or (any of: release/bundle/***)) or (any of: bundle/***)
  lvm-operator-catalog-v4.17-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.17-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.17-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.17.yaml)) or (any of: templates/lvm-operator-catalog-v4.17-template.yaml)) or (any of: konflux-catalog.Dockerfile)
