Repository openshift/lvm-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: lvm-operator-catalog-4-22-on-push, lvm-operator-catalog-v4.13-on-push, lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-4-16-on-push, lvm-operator-catalog-v4.17-on-push, lvm-operator-catalog-4-19-on-push, lvm-operator-catalog-4-20-on-pull-request, lvm-operator-on-push

lvm-operator-catalog-4-22-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.22-{{revision}}
  - name: dockerfile
    value: release/catalog/catalog.konflux.Dockerfile
  ...

lvm-operator-catalog-v4.13-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.13-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-4-14-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.14-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-v4.15-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.15-on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

lvm-operator-catalog-4-16-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.16-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-v4.17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.17-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.19-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.20-on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

Fix mintmaker automation for rpm locking
  release/operator/rpms.in.yaml
Due: lvm-operator-on-push

Fix mintmaker automation for rpm locking
  release/operator/rpms.in.yaml
  renovate.json
Due: lvm-operator-on-push

tekton: fail closed on API/registry errors, sign automation commits
  .tekton/catalog-candidate-update-staging-final-pipeline.yaml
  .tekton/operator-version-bump-production-final-pipeline.yaml
  release/hack/generate_catalog_template.sh
Due: none

release: resolve candidate bundle digests via quay
  release/hack/generate_catalog_template.sh
Due: none

docs: add Konflux build and release documentation
  docs/konflux/README.md
  docs/konflux/file-based-catalog.md
  docs/konflux/operator-bundle-lifecycle.md
  docs/konflux/release-management.md
Due: none

tekton: add production and staging final pipelines
  .tekton/catalog-candidate-update-staging-final-pipeline.yaml
  .tekton/operator-version-bump-production-final-pipeline.yaml
Due: none

chore: remove the unused catalog pipeline
  .tekton/catalog-build-pipeline.yaml
  docs/konflux-final-pipeline-post-implementation.md
Due: none

docs: add ADR-0013 for implementing konflux final pipelines for catalog version management
  docs/decisions/0013-konflux-final-pipelines-for-release-automation.md
  docs/decisions/index.md
Due: none

fix: harden catalog template generation against retries and unset vars
  release/hack/generate_catalog_template.sh
Due: none

Update docs/konflux/release-management.md
  docs/konflux/release-management.md
Due: none

docs: fix Konflux docs review findings and typos
  docs/decisions/index.md
  docs/konflux/README.md
  docs/konflux/file-based-catalog.md
  docs/konflux/release-management.md
  release/hack/generate_catalog_template.sh
Due: none

docs: fix remaining Konflux docs review findings
  docs/decisions/0013-konflux-final-pipelines-for-release-automation.md
  docs/konflux/README.md
  docs/konflux/file-based-catalog.md
Due: none

Update generate-rpm-lock to handle certs
  release/hack/generate-rpm-lock.sh
Due: none

Update RPM lock file
  release/operator/rpms.lock.yaml
Due: lvm-operator-on-push

Update RPM lock file
  release/operator/rpms.in.yaml
  release/operator/rpms.lock.yaml
Due: lvm-operator-on-push

add CVE-2026-25679 to release notes
  releases/lvm-operator-rhba-v4.16.11.yaml
Due: none

Update catalog templates
  release/catalog/lvm-operator-catalog-candidate-template.yaml
  release/catalog/lvm-operator-catalog-template.yaml
Due: lvm-operator-catalog-4-22-on-push

Update catalog for 4.16.11
  releases/lvm-operator-catalog-4-16-11.yaml
Due: none

bump k8s and aws deps
  Dockerfile
  Makefile
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/lvmcluster_types.go
  api/v1alpha1/lvmvolumegroup_types.go
  api/v1alpha1/lvmvolumegroupnodestatus_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lvm.topolvm.io_lvmclusters.yaml
  bundle/manifests/lvm.topolvm.io_lvmvolumegroupnodestatuses.yaml
  bundle/manifests/lvm.topolvm.io_lvmvolumegroups.yaml
  catalog/lvms-operator/v0.0.1.yaml
  cmd/operator/operator.go
  cmd/vgmanager/vgmanager.go
  config/crd/bases/lvm.topolvm.io_lvmclusters.yaml
  config/crd/bases/lvm.topolvm.io_lvmvolumegroupnodestatuses.yaml
  config/crd/bases/lvm.topolvm.io_lvmvolumegroups.yaml
  go.mod
  go.sum
  hack/debug.Dockerfile
  internal/controllers/lvmcluster/controller_test.go
  internal/controllers/lvmcluster/resource/servicemonitor.go
  internal/controllers/lvmcluster/resource/topolvm_storageclass_test.go
  internal/controllers/lvmcluster/vgmanager_resource_test.go
  internal/csi/snapshotter.go
  release/bundle/bundle.konflux.Dockerfile
  release/operator/konflux.Dockerfile
  test/e2e/aws_disk_test.go
Due: lvm-operator-on-push

Update catalog bundle references
  release/catalog/lvm-operator-catalog-candidate-template.yaml
  release/catalog/lvm-operator-catalog-template.yaml
Due: lvm-operator-catalog-4-22-on-push

Update catalog to include 4.19.2
  release/catalog/lvm-operator-catalog-template.yaml
Due: lvm-operator-catalog-4-22-on-push

Add automation for mintmaker
  release/hack/generate-rpm-lock.sh
  release/must-gather/rpms.in.yaml
  release/operator/rpms.in.yaml
  renovate.json
Due: lvm-operator-on-push

Skip rapidast in disconnected cluster
  test/integration/qe_tests/lvms_utils.go
Due: lvm-operator-on-push

OCPEDGE-2388: Release 4.19.3
  releases/lvm-operator-catalog-4.19.3.yaml
  releases/lvm-operator-rhba-v4.19.3.yaml
Due: none

Reformat output
  hack/inspect-catalog.sh
Due: none

Update catalog and bundle
  releases/lvm-operator-catalog-4.18.5.yaml
  releases/lvm-operator-rhba-v4.18.5.yaml
Due: none

Fix OCP-89594: Remove deviceSelector from devicediscovery template
  test/integration/qe_tests/testdata/lvmcluster-devicediscovery-template.yaml
Due: lvm-operator-on-push

Automate RapiDAST in LVMS
  test/integration/qe_tests/lvms_utils.go
  test/integration/qe_tests/rapidast.go
  test/integration/qe_tests/testdata/rapidast_config_lvm_v1alpha1.yaml
  test/integration/qe_tests/testdata/rapidast_customscan.policy
  test/integration/qe_tests/testdata/rapidast_job.yaml
  test/integration/qe_tests/testdata/rapidast_sa.yaml
Due: lvm-operator-on-push

Release 4.20.2
  releases/lvm-operator-catalog-4.20.2.yaml
  releases/lvm-operator-rhba-v4.20.2.yaml
Due: none

update release notes
  releases/lvm-operator-rhba-v4.20.2.yaml
Due: none

Release 4.14.14 image updates
  releases/lvm-operator-catalog-4-14-14.yaml
  releases/lvm-operator-rhba-v4.14.14.yaml
Due: none

feat(resouce): add network policies
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/rbac/role.yaml
  internal/controllers/lvmcluster/controller.go
  internal/controllers/lvmcluster/resource/networkpolicy.go
  internal/controllers/lvmcluster/resource/networkpolicy_test.go
Due: lvm-operator-on-push

feat(test): add raid e2e tests
  test/e2e/lvm_suite_test.go
  test/e2e/raid_test.go
Due: lvm-operator-on-push

Add Konflux override snapshot generation script and slash command (#2879)
  .claude/commands/lvms/konflux/create_snapshot.md
  hack/generate_override_snapshot_yaml.sh
Due: none

Automate OCP-90161-Verify that LVMS supports software RAID configuration
  test/integration/qe_tests/lvms.go
  test/integration/qe_tests/lvms_utils.go
  test/integration/qe_tests/testdata/lvmcluster-raid-template.yaml
Due: lvm-operator-on-push

Path conditions:
  lvm-operator-catalog-4-22-on-push: (((any of: .tekton/lvm-operator-catalog-pull-request.yaml) or (any of: .tekton/lvm-operator-catalog-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: release/catalog/***)
  lvm-operator-catalog-v4.13-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.13-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.13-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.13.json)) or (any of: templates/lvm-operator-catalog-v4.13-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-14-on-push: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.14-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.14-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.14.json)) or (any of: templates/lvm-operator-catalog-v4.14-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.15-on-pull-request: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.15-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.15-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.15.yaml)) or (any of: templates/lvm-operator-catalog-v4.15-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-16-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.16-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.16-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.16.json)) or (any of: templates/lvm-operator-catalog-v4.16-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.17-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.17-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.17-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.17.yaml)) or (any of: templates/lvm-operator-catalog-v4.17-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-19-on-push: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.19-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.19.json)) or (any of: templates/lvm-operator-catalog-v4.19-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-20-on-pull-request: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.20-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.20.json)) or (any of: templates/lvm-operator-catalog-v4.20-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-on-push: (((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/lvm-operator-pull-request.yaml)) or (any of: .tekton/lvm-operator-push.yaml)) or (any of: release/operator/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)) or (any of: api/***)
