Repository openshift/lvm-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: lvm-operator-catalog-4-22-on-push, lvm-operator-catalog-v4.13-on-push, lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-4-16-on-push, lvm-operator-catalog-v4.17-on-push, lvm-operator-catalog-4-19-on-push, lvm-operator-catalog-4-20-on-pull-request, lvm-operator-on-push

Path conditions:
  lvm-operator-catalog-4-22-on-push: (((any of: .tekton/lvm-operator-catalog-pull-request.yaml) or (any of: .tekton/lvm-operator-catalog-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: release/catalog/***)
  lvm-operator-catalog-v4.13-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.13-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.13-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.13.json)) or (any of: templates/lvm-operator-catalog-v4.13-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-14-on-push: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.14-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.14-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.14.json)) or (any of: templates/lvm-operator-catalog-v4.14-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.15-on-pull-request: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.15-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.15-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.15.yaml)) or (any of: templates/lvm-operator-catalog-v4.15-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-16-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.16-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.16-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.16.json)) or (any of: templates/lvm-operator-catalog-v4.16-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.17-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.17-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.17-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.17.yaml)) or (any of: templates/lvm-operator-catalog-v4.17-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-19-on-push: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.19-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.19.json)) or (any of: templates/lvm-operator-catalog-v4.19-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-20-on-pull-request: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.20-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.20.json)) or (any of: templates/lvm-operator-catalog-v4.20-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-on-push: (((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/lvm-operator-pull-request.yaml)) or (any of: .tekton/lvm-operator-push.yaml)) or (any of: release/operator/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)) or (any of: api/***)

test: dummy change to trigger Konflux integration test pipeline
  cmd/main.go
Due: lvm-operator-on-push

tekton: fix ose-cli image tag in integration test pipeline
  .tekton/lvm-operator-integration-tests.yaml
Due: none

Fix OCPBUGS-92090
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  catalog/lvms-operator/v0.0.1.yaml
  cmd/operator/operator.go
  cmd/vgmanager/vgmanager.go
  config/rbac/vg_manager_clusterrole.yaml
  internal/tls/ocp.go
Due: lvm-operator-on-push

NO-JIRA: pin integration-tests image to ose-cli-rhel9:v4.21
  .tekton/lvm-operator-integration-tests.yaml
Due: none

NO-JIRA: pin integration-tests image to ose-cli-rhel9:v4.22
  .tekton/lvm-operator-integration-tests.yaml
Due: none

NO-JIRA: update operator RPM lock file
  release/operator/rpms.lock.yaml
Due: lvm-operator-on-push

NO-JIRA: pin integration-tests image to ose-cli-rhel9:v4.19
  .tekton/lvm-operator-integration-tests.yaml
Due: none

NO-JIRA: pin integration-tests image to ose-cli-rhel9:v4.18
  .tekton/lvm-operator-integration-tests.yaml
Due: none

NO-JIRA: pin integration-tests image to ose-cli-rhel9:v4.16
  .tekton/lvm-operator-integration-tests.yaml
Due: none

NO-JIRA: Pin integration-tests image to ose-cli-rhel9:v4.16
  .tekton/lvm-operator-integration-tests.yaml
Due: none

feat(tests): additional selinux tests
  test/e2e/lvm_pvc_test.go
  test/e2e/validation_test.go
Due: lvm-operator-on-push

NO-JIRA: Update catalog templates
  release/catalog/lvm-operator-catalog-candidate-template.yaml
  release/catalog/lvm-operator-catalog-template.yaml
Due: lvm-operator-catalog-4-22-on-push

NO-JIRA: Update version to 4.21.2
  release/container-build.args
Due: none

NO-JIRA: Update version to 4.20.3
  release/container-build.args
Due: none

NO-JIRA: Update version to 4.18.6
  release/container-build.args
Due: none

NO-JIRA: Fix invalid rpms-signature-scan task bundle digest on 4.22
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-on-push

NO-JIRA: Fix invalid rpms-signature-scan task bundle digest
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-on-push

NO-JIRA: Resolve Konflux pipelines from main on release-4.22
  .tekton/catalog-build-pipeline.yaml
  .tekton/catalog-patching-build-pipeline.yaml
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-catalog-4-22-on-push, lvm-operator-on-push

Bug 126997: respect user-set default StorageClass GA and beta annotations
  docs/domain/concepts.md
  internal/controllers/lvmcluster/resource/topolvm_storageclass.go
  internal/controllers/lvmcluster/resource/topolvm_storageclass_test.go
  internal/controllers/lvmcluster/storageclass_default_integration_test.go
Due: lvm-operator-on-push

NO-JIRA: Make main resolve Konflux pipelines locally so PRs self-validate
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
Due: lvm-operator-catalog-4-22-on-push, lvm-operator-on-push

Release 4.22.1
  releases/lvm-operator-catalog-4.22.1.yaml
  releases/lvm-operator-rhba-v4.22.1.yaml
Due: none

NO-JIRA: Tolerate missing PVC during test cleanup
  test/integration/qe_tests/lvms.go
Due: lvm-operator-on-push

Update bundle template to 4.21.2
  release/catalog/lvm-operator-catalog-candidate-template.yaml
  release/catalog/lvm-operator-catalog-template.yaml
Due: lvm-operator-catalog-4-22-on-push

Update bundle template to 4.20.3
  release/catalog/lvm-operator-catalog-candidate-template.yaml
  release/catalog/lvm-operator-catalog-template.yaml
Due: lvm-operator-catalog-4-22-on-push

update catalog and operator references
  releases/lvm-operator-catalog-4.22.1.yaml
  releases/lvm-operator-rhba-v4.22.1.yaml
Due: none
