Repository openshift/lvm-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: lvm-operator-catalog-v4.13-on-push, lvm-operator-catalog-v4.14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-v4.16-on-push, lvm-operator-catalog-v4.17-on-push, lvm-operator-on-push

Path conditions:
  lvm-operator-catalog-v4.13-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.13-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.13-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.13.json)) or (any of: templates/lvm-operator-catalog-v4.13-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.14-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.14-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.14-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.14.json)) or (any of: templates/lvm-operator-catalog-v4.14-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.15-on-pull-request: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.15-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.15-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.15.yaml)) or (any of: templates/lvm-operator-catalog-v4.15-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.16-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.16-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.16-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.16.json)) or (any of: templates/lvm-operator-catalog-v4.16-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.17-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.17-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.17-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.17.yaml)) or (any of: templates/lvm-operator-catalog-v4.17-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-on-push: (((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/lvm-operator-pull-request.yaml)) or (any of: .tekton/lvm-operator-push.yaml)) or (any of: release/operator/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)) or (any of: api/***)

chore: updated the bundle pipeline
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
Due: none

chore: update the version to 4.19.1
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
  release/bundle/bundle.konflux.Dockerfile
  release/container-build.args
Due: lvm-operator-on-push

fix: updating the sha in the Makefile
  Makefile
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
Due: lvm-operator-on-push

feat: adding the ability to include pre-release content to the catalog for testing purposes
  hack/generate_released_templates.sh
Due: none

fix: Updated the template script to pull in pre-release content
  Makefile
  README.md
  hack/generate_released_templates.sh
  templates/lvm-operator-catalog-v4.14-template.yaml
  templates/lvm-operator-catalog-v4.15-template.yaml
  templates/lvm-operator-catalog-v4.16-template.yaml
  templates/lvm-operator-catalog-v4.17-template.yaml
  templates/lvm-operator-catalog-v4.18-template.yaml
  templates/lvm-operator-catalog-v4.19-template.yaml
  templates/lvm-operator-catalog-v4.20-template.yaml
Due: lvm-operator-catalog-v4.14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-v4.16-on-push, lvm-operator-catalog-v4.17-on-push, lvm-operator-on-push

feat(config): add network policies
  Makefile
  bundle.Dockerfile
  bundle/manifests/lvms-operator-network-policy_networking.k8s.io_v1_networkpolicy.yaml
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  bundle/manifests/vg-manager-network-policy_networking.k8s.io_v1_networkpolicy.yaml
  bundle/metadata/annotations.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/default/kustomization.yaml
  config/manifests/bases/clusterserviceversion.yaml.in
  config/manifests/bases/lvms-operator.clusterserviceversion.yaml
  config/networkpolicy/kustomization.yaml
  config/networkpolicy/lvm-operator-networkpolicy.yaml
  config/networkpolicy/vgmanager-networkpolicy.yaml
Due: lvm-operator-on-push

test: trying to make a change to trigger a new snapshot in konflux
  release/must-gather/must-gather.konflux.Dockerfile
  release/operator/konflux.Dockerfile
Due: lvm-operator-on-push

fix: adding a images-mirror-set to be used with EC
  .tekton/images-mirror-set.yaml
Due: none

test: dropping the test annotation now that the bundle is working
  release/must-gather/must-gather.konflux.Dockerfile
  release/operator/konflux.Dockerfile
Due: lvm-operator-on-push

chore: updating build task manifests for 4.19
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-on-push

docs: improve deviceClasses.fsType description
  api/v1alpha1/lvmcluster_types.go
  bundle/manifests/lvm.topolvm.io_lvmclusters.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/crd/bases/lvm.topolvm.io_lvmclusters.yaml
Due: lvm-operator-on-push

fix: adding the gomod prefetch input on push events
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-push.yaml
Due: lvm-operator-on-push

fix: adding the gomod prefetch input on push events (#1161)
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-push.yaml
Due: lvm-operator-on-push

fix: Updated the template script to pull in pre-release content
  .tekton/images-mirror-set.yaml
  .tekton/lvm-operator-catalog-v4.20-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.20-push.yaml
  Makefile
  README.md
  catalogs/lvm-operator-catalog-v4.14.json
  catalogs/lvm-operator-catalog-v4.15.json
  catalogs/lvm-operator-catalog-v4.16.json
  catalogs/lvm-operator-catalog-v4.17.json
  catalogs/lvm-operator-catalog-v4.18.json
  catalogs/lvm-operator-catalog-v4.19.json
  catalogs/lvm-operator-catalog-v4.20.json
  hack/generate_released_templates.sh
  hack/generate_templates.sh
  templates/lvm-operator-catalog-v4.14-template.yaml
  templates/lvm-operator-catalog-v4.15-template.yaml
  templates/lvm-operator-catalog-v4.16-template.yaml
  templates/lvm-operator-catalog-v4.17-template.yaml
  templates/lvm-operator-catalog-v4.18-template.yaml
  templates/lvm-operator-catalog-v4.19-template.yaml
  templates/lvm-operator-catalog-v4.20-template.yaml
Due: lvm-operator-catalog-v4.14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-v4.16-on-push, lvm-operator-catalog-v4.17-on-push, lvm-operator-on-push

NO-JIRA: Catalog pre release content (#1149)
  .tekton/images-mirror-set.yaml
  .tekton/lvm-operator-catalog-v4.20-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.20-push.yaml
  Makefile
  README.md
  catalogs/lvm-operator-catalog-v4.14.json
  catalogs/lvm-operator-catalog-v4.15.json
  catalogs/lvm-operator-catalog-v4.16.json
  catalogs/lvm-operator-catalog-v4.17.json
  catalogs/lvm-operator-catalog-v4.18.json
  catalogs/lvm-operator-catalog-v4.19.json
  catalogs/lvm-operator-catalog-v4.20.json
  hack/generate_released_templates.sh
  hack/generate_templates.sh
  templates/lvm-operator-catalog-v4.14-template.yaml
  templates/lvm-operator-catalog-v4.15-template.yaml
  templates/lvm-operator-catalog-v4.16-template.yaml
  templates/lvm-operator-catalog-v4.17-template.yaml
  templates/lvm-operator-catalog-v4.18-template.yaml
  templates/lvm-operator-catalog-v4.19-template.yaml
  templates/lvm-operator-catalog-v4.20-template.yaml
Due: lvm-operator-catalog-v4.14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-v4.16-on-push, lvm-operator-catalog-v4.17-on-push, lvm-operator-on-push

feat(resource): deploy ServiceMonitor as resource
  bundle/manifests/lvms-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  catalog/lvms-operator/v0.0.1.yaml
  cmd/main.go
  config/prometheus/kustomization.yaml
  config/prometheus/monitor.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
  internal/controllers/lvmcluster/controller.go
  internal/controllers/lvmcluster/resource/servicemonitor.go
  internal/controllers/lvmcluster/suite_test.go
  test/e2e/config_test.go
Due: lvm-operator-on-push

fix: added the makefile
  Makefile
Due: lvm-operator-on-push

fix: added testing scripts and readme
  Makefile
  README.md
  hack/configure_cluster_for_testing.sh
  hack/generate_imagedigestmirrors.sh
  hack/generate_operator_install_manifests.sh
  hack/update_cluster_pull_secret.sh
Due: lvm-operator-on-push

fix: updated script and readme
  README.md
  hack/configure_cluster_for_testing.sh
Due: none

Release management testing (#1162)
  Makefile
  README.md
  hack/configure_cluster_for_testing.sh
  hack/generate_imagedigestmirrors.sh
  hack/generate_operator_install_manifests.sh
  hack/update_cluster_pull_secret.sh
Due: lvm-operator-on-push

fix: adding theh images-mirror-set for tekton tasks
  .tekton/images-mirror-set.yaml
Due: none

fix: add trigger for bundle rebuilds if the digest mirrors change
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
Due: none

NO-JIRA: fix: adding the images-mirror-set for tekton tasks (#1164)
  .tekton/images-mirror-set.yaml
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
Due: none

feat(resource): deploy ServiceMonitor as resource (#1163)
  bundle/manifests/lvms-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  catalog/lvms-operator/v0.0.1.yaml
  cmd/main.go
  config/prometheus/kustomization.yaml
  config/prometheus/monitor.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
  internal/controllers/lvmcluster/controller.go
  internal/controllers/lvmcluster/resource/servicemonitor.go
  internal/controllers/lvmcluster/suite_test.go
  test/e2e/config_test.go
Due: lvm-operator-on-push

Revert "feat(resource): deploy ServiceMonitor as resource (#1163)"
  bundle/manifests/lvms-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  catalog/lvms-operator/v0.0.1.yaml
  cmd/main.go
  config/prometheus/kustomization.yaml
  config/prometheus/monitor.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
  internal/controllers/lvmcluster/controller.go
  internal/controllers/lvmcluster/resource/servicemonitor.go
  internal/controllers/lvmcluster/suite_test.go
  test/e2e/config_test.go
Due: lvm-operator-on-push

fix: updating the rbac proxy image to be redhat based
  Makefile
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  config/default/manager_custom_env.yaml
  config/manager/manager.env
Due: lvm-operator-on-push

feat(networkpolicy): add default-deny policy
  bundle/manifests/lvms-default-deny_networking.k8s.io_v1_networkpolicy.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/networkpolicy/default-deny-networkpolicy.yaml
  config/networkpolicy/kustomization.yaml
Due: none

feat(resource): deploy ServiceMonitor as resource
  bundle/manifests/lvms-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  catalog/lvms-operator/v0.0.1.yaml
  cmd/main.go
  config/prometheus/kustomization.yaml
  config/prometheus/monitor.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
  internal/controllers/lvmcluster/controller.go
  internal/controllers/lvmcluster/resource/servicemonitor.go
  internal/controllers/lvmcluster/suite_test.go
  test/e2e/config_test.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/LICENSE
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/register.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/resource.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/alertmanager_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/doc.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/podmonitor_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/probe_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/prometheus_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/prometheusrule_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/register.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/servicemonitor_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/thanos_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: lvm-operator-on-push

fix: added the ability to specify the snapshot to test and added bundle verification after catalog installation
  .gitignore
  Makefile
  hack/configure_cluster_for_testing.sh
  hack/generate_operator_install_manifests.sh
Due: lvm-operator-on-push

fix: updating the rbac proxy image to be redhat based (#1167)
  Makefile
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  config/default/manager_custom_env.yaml
  config/manager/manager.env
Due: lvm-operator-on-push

fix: added the ability to specify the snapshot to test and added bundle verification after catalog installation (#1170)
  .gitignore
  Makefile
  hack/configure_cluster_for_testing.sh
  hack/generate_operator_install_manifests.sh
Due: lvm-operator-on-push

docs: readme testing updates
  README.md
Due: none

fix: adding a renovate config for the catalogs
  renovate.json
Due: none

fix: adding a renovate config for the catalogs (#1172)
  renovate.json
Due: none

chore: nudging the bundle with the latest operator and must-gather images
  release/bundle/bundle.konflux.Dockerfile
Due: none

chore: nudging the bundle with the latest operator and must-gather images (#1173)
  release/bundle/bundle.konflux.Dockerfile
Due: none

bump openshift/topolvm
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
  internal/controllers/lvmcluster/controller.go
Due: lvm-operator-on-push
