Repository openshift/lvm-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: lvm-operator-catalog-4-22-on-push, lvm-operator-catalog-v4.13-on-push, lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-4-16-on-push, lvm-operator-catalog-v4.17-on-push, lvm-operator-catalog-4-19-on-push, lvm-operator-catalog-4-20-on-pull-request, lvm-operator-on-push

lvm-operator-catalog-4-22-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.22-{{revision}}
  - name: dockerfile
    value: release/catalog/catalog.konflux.Dockerfile
  ...

lvm-operator-catalog-v4.13-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.13-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-4-14-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.14-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-v4.15-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.15-on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

lvm-operator-catalog-4-16-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.16-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-v4.17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.17-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.19-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.20-on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

OCPEDGE-2626: Limit go test parallelism to prevent OOM in CI
  Makefile
Due: lvm-operator-on-push

NO-JIRA: Update owners aliases
  OWNERS_ALIASES
Due: none

NO-JIRA: Limit go test parallelism to prevent OOM in CI
  Makefile
Due: lvm-operator-on-push

NO-JIRA: Update owners group names
  OWNERS
  OWNERS_ALIASES
Due: none

OCPEDGE-2626: Use non-GCS source for setup-envtest downloads
  Makefile
Due: lvm-operator-on-push

NO-JIRA: Regenerate manifests with controller-gen v0.17.3
  bundle/manifests/lvm.topolvm.io_lvmclusters.yaml
  bundle/manifests/lvm.topolvm.io_lvmvolumegroupnodestatuses.yaml
  bundle/manifests/lvm.topolvm.io_lvmvolumegroups.yaml
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  config/crd/bases/lvm.topolvm.io_lvmclusters.yaml
  config/crd/bases/lvm.topolvm.io_lvmvolumegroupnodestatuses.yaml
  config/crd/bases/lvm.topolvm.io_lvmvolumegroups.yaml
  config/default/kustomization.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
Due: none

NO-JIRA: Regenerate bundle with clean tooling
  bundle/manifests/lvm.topolvm.io_lvmclusters.yaml
  bundle/manifests/lvm.topolvm.io_lvmvolumegroupnodestatuses.yaml
  bundle/manifests/lvm.topolvm.io_lvmvolumegroups.yaml
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  config/crd/bases/lvm.topolvm.io_lvmclusters.yaml
  config/crd/bases/lvm.topolvm.io_lvmvolumegroupnodestatuses.yaml
  config/crd/bases/lvm.topolvm.io_lvmvolumegroups.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
Due: none

NO-ISSUE: Update owners 4.20
  OWNERS_ALIASES
Due: none

OCPBUGS-79645: Bump Bump google.golang.org/grpc
  go.mod
  go.sum
Due: lvm-operator-on-push

NO-JIRA: Fix setup-envtest GCS 401 Unauthorized
  Makefile
Due: lvm-operator-on-push

OCPBUGS-79640: Bump Bump google.golang.org/grpc
  go.mod
  go.sum
Due: lvm-operator-on-push

NO-JIRA: Add missing build-args-file to bundle-4-23 pipelines
  .tekton/lvm-operator-bundle-4-23-pull-request.yaml
  .tekton/lvm-operator-bundle-4-23-push.yaml
Due: none

NO-JIRA: Remove duplicate Konflux 4-23 Tekton pipeline files
  .tekton/lvm-operator-4-23-pull-request.yaml
  .tekton/lvm-operator-4-23-push.yaml
  .tekton/lvm-operator-bundle-4-23-pull-request.yaml
  .tekton/lvm-operator-bundle-4-23-push.yaml
  .tekton/lvms-must-gather-4-23-pull-request.yaml
  .tekton/lvms-must-gather-4-23-push.yaml
Due: none

Red Hat Konflux update lvms-must-gather-5-0
  .tekton/lvms-must-gather-5-0-pull-request.yaml
  .tekton/lvms-must-gather-5-0-push.yaml
Due: none

Red Hat Konflux update lvm-operator-bundle-5-0
  .tekton/lvm-operator-bundle-5-0-pull-request.yaml
  .tekton/lvm-operator-bundle-5-0-push.yaml
Due: none

Automate OCP-88798-Verify StorageClassOptions additionalParameters and additionalLabels are applied to StorageClass
  test/integration/qe_tests/lvms.go
Due: lvm-operator-on-push

Automate OCP-88797-Verify StorageClassOptions reclaimPolicy and volumeBindingMode are applied to StorageClass
  test/integration/qe_tests/lvms.go
Due: lvm-operator-on-push

Automate OCP-88799- Verify reclaimPolicy and volumeBindingMode combinations
  test/integration/qe_tests/lvms.go
  test/integration/qe_tests/lvms_utils.go
  test/integration/qe_tests/testdata/storageclass-template.yaml
Due: lvm-operator-on-push

NO-JIRA: Pin golangci-lint to v1.55.1 for Go 1.20 compatibility
  .pre-commit-config.yaml
Due: none

NO-JIRA: Regenerate OLM catalog to fix precommit-check
  catalog/lvms-operator/v0.0.1.yaml
Due: none

NO-JIRA: Add renovate config validation via GitHub Actions and make target
  .github/workflows/renovate-config-validation.yaml
  release/konflux.make
  renovate.json
Due: none

fix: handle missing LVMVolumeGroupNodeStatus gracefully in vg-manager
  internal/controllers/vgmanager/controller.go
  internal/controllers/vgmanager/controller_test.go
Due: lvm-operator-on-push

OCPBUGS-86959: Fix storageClassOptions XValidation immutability bypass on nil-to-non-nil transition
  api/v1alpha1/lvmcluster_test.go
  api/v1alpha1/lvmcluster_types.go
  api/v1alpha1/lvmcluster_webhook.go
  bundle/manifests/lvm.topolvm.io_lvmclusters.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/crd/bases/lvm.topolvm.io_lvmclusters.yaml
Due: lvm-operator-on-push

OCPEDGE-2546: Rework AGENTS.md
  AGENTS.md
Due: none

OCPEDGE-2542: Rework CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

OCPEDGE-2538: Rework README.md
  README.md
  docs/README.md
Due: none

OCPEDGE-2553: Add content to docs/
  docs/architecture.md
  docs/upstream.md
Due: none

OCPBUGS-84804: Bump google.golang.org/grpc
  go.mod
  go.sum
Due: lvm-operator-on-push

Add 5.0 tekton manifests for main branch
  .tekton/lvm-operator-5-0-pull-request.yaml
  .tekton/lvm-operator-5-0-push.yaml
  .tekton/lvm-operator-bundle-5-0-pull-request.yaml
  .tekton/lvm-operator-bundle-5-0-push.yaml
  .tekton/lvm-operator-catalog-5-0-pull-request.yaml
  .tekton/lvm-operator-catalog-5-0-push.yaml
  .tekton/lvms-must-gather-5-0-pull-request.yaml
  .tekton/lvms-must-gather-5-0-push.yaml
Due: none

OCPEDGE-2720: LVMS 4.21.1
  releases/lvm-operator-catalog-4.21.1.yaml
  releases/lvm-operator-rhba-v4.21.1.yaml
Due: none

OCPEDGE-2388: Release 4.20.1
  releases/lvm-operator-catalog-4.20.1.yaml
  releases/lvm-operator-rhba-v4.20.1.yaml
Due: none

OCPEDGE-2388: Release 4.19.3
  releases/lvm-operator-catalog-4.19.3.yaml
  releases/lvm-operator-rhba-v4.19.3.yaml
Due: none

OCPEDGE-2722: Release 4.18.5
  releases/lvm-operator-catalog-4.18.5.yaml
  releases/lvm-operator-rhba-v4.18.5.yaml
Due: none

NO-JIRA: Update 4.23 tekton manifests to target release-4.23 branch
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
Due: lvm-operator-catalog-4-22-on-push, lvm-operator-on-push

NO-JIRA: Update main to 5.0 and remove 4.23 tekton manifests
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
  release/container-build.args
  release/konflux.make
Due: lvm-operator-catalog-4-22-on-push, lvm-operator-on-push

Path conditions:
  lvm-operator-catalog-4-22-on-push: (((any of: .tekton/lvm-operator-catalog-pull-request.yaml) or (any of: .tekton/lvm-operator-catalog-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: release/catalog/***)
  lvm-operator-catalog-v4.13-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.13-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.13-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.13.json)) or (any of: templates/lvm-operator-catalog-v4.13-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-14-on-push: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.14-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.14-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.14.json)) or (any of: templates/lvm-operator-catalog-v4.14-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.15-on-pull-request: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.15-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.15-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.15.yaml)) or (any of: templates/lvm-operator-catalog-v4.15-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-16-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.16-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.16-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.16.json)) or (any of: templates/lvm-operator-catalog-v4.16-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.17-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.17-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.17-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.17.yaml)) or (any of: templates/lvm-operator-catalog-v4.17-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-19-on-push: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.19-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.19.json)) or (any of: templates/lvm-operator-catalog-v4.19-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-20-on-pull-request: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.20-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.20.json)) or (any of: templates/lvm-operator-catalog-v4.20-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-on-push: (((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/lvm-operator-pull-request.yaml)) or (any of: .tekton/lvm-operator-push.yaml)) or (any of: release/operator/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)) or (any of: api/***)
