Repository openshift/lvm-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: lvm-operator-catalog-v4.13-on-push, lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-v4.16-on-push, lvm-operator-catalog-v4.17-on-push, lvm-operator-catalog-4-19-on-push, lvm-operator-on-push

Path conditions:
  lvm-operator-catalog-v4.13-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.13-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.13-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.13.json)) or (any of: templates/lvm-operator-catalog-v4.13-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-14-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.14-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.14-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.14.json)) or (any of: templates/lvm-operator-catalog-v4.14-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.15-on-pull-request: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.15-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.15-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.15.yaml)) or (any of: templates/lvm-operator-catalog-v4.15-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.16-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.16-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.16-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.16.json)) or (any of: templates/lvm-operator-catalog-v4.16-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.17-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.17-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.17-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.17.yaml)) or (any of: templates/lvm-operator-catalog-v4.17-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-19-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.19-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.19-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.19.json)) or (any of: templates/lvm-operator-catalog-v4.19-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-on-push: (((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/lvm-operator-pull-request.yaml)) or (any of: .tekton/lvm-operator-push.yaml)) or (any of: release/operator/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)) or (any of: api/***)

chore: bumping the must-gather image sha (#1290)
  release/bundle/bundle.konflux.Dockerfile
Due: none

chore: bumping the operator image sha (#1292)
  release/bundle/bundle.konflux.Dockerfile
Due: none

chore: bumping the must-gather and topolvm image sha (#1294)
  release/bundle/bundle.konflux.Dockerfile
Due: none

chore: bumping the must-gather image sha (#1293)
  release/bundle/bundle.konflux.Dockerfile
Due: none

chore: tekton task updates to trigger new builds
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-on-push

chore: tekton task updates to trigger new builds (#1296)
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-on-push

chore: tekton task updates
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-on-push

chore: tekton task updates (#1298)
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-on-push

chore: tekton task updates (#1303)
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-on-push

chore: tekton task updates (#1304)
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-on-push

chore: tekton task updates (#1302)
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-on-push

chore: 4.18 version bump
  release/container-build.args
Due: none

fix: updating the 4.17 catalog
  Makefile
  catalogs/lvm-operator-catalog-v4.17.json
Due: lvm-operator-on-push

fix: 4.17 catalog update
  catalogs/lvm-operator-catalog-v4.17.json
  templates/lvm-operator-catalog-v4.17-template.yaml
Due: lvm-operator-catalog-v4.17-on-push

chore: 4.18 version bump (#1313)
  release/container-build.args
Due: none

NO-JIRA: fix: updating the 4.17 catalog (#1312)
  Makefile
  catalogs/lvm-operator-catalog-v4.17.json
  templates/lvm-operator-catalog-v4.17-template.yaml
Due: lvm-operator-catalog-v4.17-on-push, lvm-operator-on-push

fix: updating the make catalog command so it will also patch the catalog channel names
  Makefile
  catalogs/lvm-operator-catalog-v4.17.json
Due: lvm-operator-on-push

fix: updating the make catalog command to patch the catalog
  Makefile
  catalogs/lvm-operator-catalog-v4.17.json
Due: lvm-operator-on-push

fix: updating the make catalog command to patch the catalog (#1317)
  Makefile
  catalogs/lvm-operator-catalog-v4.17.json
Due: lvm-operator-on-push

fix: catalog patching and script cleanup
  .tekton/lvm-operator-catalog-v4.15-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.16-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.17-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.18-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.19-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.20-pull-request.yaml
  Makefile
  catalogs/lvm-operator-catalog-v4.14.json
  catalogs/lvm-operator-catalog-v4.18.json
  catalogs/lvm-operator-catalog-v4.19.json
  catalogs/lvm-operator-catalog-v4.20.json
  hack/generate_templates.sh
  templates/lvm-operator-catalog-v4.14-template.yaml
  templates/lvm-operator-catalog-v4.18-template.yaml
  templates/lvm-operator-catalog-v4.19-template.yaml
  templates/lvm-operator-catalog-v4.20-template.yaml
Due: lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-v4.16-on-push, lvm-operator-catalog-v4.17-on-push, lvm-operator-catalog-4-19-on-push, lvm-operator-on-push

fix: catalog patching and script cleanup (#1318)
  .tekton/lvm-operator-catalog-v4.15-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.16-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.17-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.18-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.19-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.20-pull-request.yaml
  Makefile
  catalogs/lvm-operator-catalog-v4.14.json
  catalogs/lvm-operator-catalog-v4.18.json
  catalogs/lvm-operator-catalog-v4.19.json
  catalogs/lvm-operator-catalog-v4.20.json
  hack/generate_templates.sh
  templates/lvm-operator-catalog-v4.14-template.yaml
  templates/lvm-operator-catalog-v4.18-template.yaml
  templates/lvm-operator-catalog-v4.19-template.yaml
  templates/lvm-operator-catalog-v4.20-template.yaml
Due: lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-v4.16-on-push, lvm-operator-catalog-v4.17-on-push, lvm-operator-catalog-4-19-on-push, lvm-operator-on-push

fix: updating the refs to point to registry.redhat.io
  catalogs/lvm-operator-catalog-v4.14.json
  catalogs/lvm-operator-catalog-v4.15.json
  catalogs/lvm-operator-catalog-v4.16.json
  catalogs/lvm-operator-catalog-v4.17.json
  catalogs/lvm-operator-catalog-v4.18.json
  catalogs/lvm-operator-catalog-v4.19.json
  catalogs/lvm-operator-catalog-v4.20.json
  hack/generate_catalogs.sh
Due: lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-v4.16-on-push, lvm-operator-catalog-4-19-on-push

fix: updating the refs to point to registry.redhat.io (#1319)
  catalogs/lvm-operator-catalog-v4.14.json
  catalogs/lvm-operator-catalog-v4.15.json
  catalogs/lvm-operator-catalog-v4.16.json
  catalogs/lvm-operator-catalog-v4.17.json
  catalogs/lvm-operator-catalog-v4.18.json
  catalogs/lvm-operator-catalog-v4.19.json
  catalogs/lvm-operator-catalog-v4.20.json
  hack/generate_catalogs.sh
Due: lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-v4.16-on-push, lvm-operator-catalog-4-19-on-push

fix: adding topolvm mirrors for the catalog
  .tekton/images-mirror-set.yaml
Due: none

fix: adding the mirror-set file to the tekton configs
  .tekton/lvm-operator-catalog-v4.14-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.14-push.yaml
  .tekton/lvm-operator-catalog-v4.15-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.15-push.yaml
  .tekton/lvm-operator-catalog-v4.16-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.16-push.yaml
  .tekton/lvm-operator-catalog-v4.17-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.17-push.yaml
  .tekton/lvm-operator-catalog-v4.18-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.18-push.yaml
  .tekton/lvm-operator-catalog-v4.19-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.19-push.yaml
  .tekton/lvm-operator-catalog-v4.20-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.20-push.yaml
Due: lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-v4.16-on-push, lvm-operator-catalog-v4.17-on-push, lvm-operator-catalog-4-19-on-push

chore(KONFLUX-6210): fix and set name and cpe label for lvms-must-gather-4-19
  release/must-gather/must-gather.konflux.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for lvm-operator-4-19
  release/operator/konflux.Dockerfile
Due: lvm-operator-on-push

chore(KONFLUX-6210): fix and set name and cpe label for lvm-operator-4-19 (#1334)
  release/operator/konflux.Dockerfile
Due: lvm-operator-on-push

chore(KONFLUX-6210): fix and set name and cpe label for lvms-must-gather-4-19 (#1333)
  release/must-gather/must-gather.konflux.Dockerfile
Due: none

Added integration directory with integration.go file
  test/integration/Makefile
  test/integration/integration.go
  test/integration/test.Dockerfile
Due: lvm-operator-on-push

chore(KONFLUX-6210): fix and set name and cpe label for lvm-operator-bundle-4-19
  release/bundle/bundle.konflux.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for lvm-operator-bundle-4-19 (#1337)
  release/bundle/bundle.konflux.Dockerfile
Due: none

fix: updated the scripting for setting up a test cluster to accomodate the new auth method and simplify the process
  Makefile
  README.md
  hack/configure_cluster_for_testing.sh
  hack/update_cluster_pull_secret.sh
Due: lvm-operator-on-push

fix: updated the scripting for setting up a test cluster to accomodate the new auth method and simplify the process (#1338)
  Makefile
  README.md
  hack/configure_cluster_for_testing.sh
  hack/update_cluster_pull_secret.sh
Due: lvm-operator-on-push

fix: adding the must gather image annotation and regenerating the manifests
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  config/manifests/bases/clusterserviceversion.yaml.in
  config/manifests/bases/lvms-operator.clusterserviceversion.yaml
  release/hack/render_templates.sh
Due: none

add mustgather image annotation to clusteroperator file
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/manifests/bases/clusterserviceversion.yaml.in
  config/manifests/bases/lvms-operator.clusterserviceversion.yaml
Due: none
