Repository openshift/lvm-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: lvm-operator-bundle-on-push, lvm-operator-catalog-v4.17-on-push

lvm-operator-bundle-on-push:
  timeouts:
    pipeline: 1h30m
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-bundle:{{revision}}
  - name: dockerfile
  ...

lvm-operator-catalog-v4.17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.17-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

feat(pv controller): label pv with node name
  internal/controllers/persistent-volume/controller.go
  internal/controllers/persistent-volume/controller_test.go
Due: none

feat: adding a unique label to the images that will be used for image tagging during release
  release/bundle/bundle.konflux.Dockerfile
  release/must-gather/must-gather.konflux.Dockerfile
  release/operator/konflux.Dockerfile
Due: lvm-operator-bundle-on-push

Revert "NO-JIRA: feat: adding a unique label to the images for release image tagging"
  release/bundle/bundle.konflux.Dockerfile
  release/must-gather/must-gather.konflux.Dockerfile
  release/operator/konflux.Dockerfile
Due: lvm-operator-bundle-on-push

fix: update the dockerfile to use a trusted image
  .tekton/catalog-pipeline.yaml
  .tekton/lvm-operator-catalog-v4.19-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.19-push.yaml
  Makefile
  hack/update-konflux-task-refs.sh
  konflux-catalog.Dockerfile
Due: lvm-operator-catalog-v4.17-on-push

fix: using a remote pipeline definition to avoid task list getting outdated
  .tekton/catalog-pipeline.yaml
  .tekton/lvm-operator-catalog-v4.12-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.12-push.yaml
  .tekton/lvm-operator-catalog-v4.13-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.13-push.yaml
  .tekton/lvm-operator-catalog-v4.14-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.14-push.yaml
  .tekton/lvm-operator-catalog-v4.15-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.15-push.yaml
  .tekton/lvm-operator-catalog-v4.16-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.16-push.yaml
  .tekton/lvm-operator-catalog-v4.17-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.17-push.yaml
  .tekton/lvm-operator-catalog-v4.18-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.18-push.yaml
  Makefile
  hack/update-konflux-task-refs.sh
Due: lvm-operator-catalog-v4.17-on-push

chore(deps): update konflux references to 4a6f481
  .tekton/lvm-operator-catalog-v4.12-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.12-push.yaml
  .tekton/lvm-operator-catalog-v4.13-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.13-push.yaml
  .tekton/lvm-operator-catalog-v4.14-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.14-push.yaml
  .tekton/lvm-operator-catalog-v4.15-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.15-push.yaml
  .tekton/lvm-operator-catalog-v4.16-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.16-push.yaml
  .tekton/lvm-operator-catalog-v4.17-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.17-push.yaml
  .tekton/lvm-operator-catalog-v4.18-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.18-push.yaml
  .tekton/lvm-operator-catalog-v4.19-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.19-push.yaml
Due: lvm-operator-catalog-v4.17-on-push

chore(deps): update module github.com/cenkalti/backoff/v4 to v5
  go.mod
Due: none

chore: merging in konflux pipelines to the release-4.19 branch
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
  release/bundle/bundle.konflux.Dockerfile
  release/must-gather/rpms.lock.yaml
  release/operator/rpms.lock.yaml
Due: lvm-operator-bundle-on-push

chore: update the versions file for 4.20
  release/container-build.args
Due: none

chore: Update multi-arch-build-pipeline.yaml apply-tags
  .tekton/multi-arch-build-pipeline.yaml
Due: none

chore: Update single-arch-build-pipeline.yaml apply-tags
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-bundle-on-push

chore: Update single-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-bundle-on-push

chore: rename the components to match konflux updates
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
Due: lvm-operator-bundle-on-push

Red Hat Konflux purge lvms-must-gather Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
Due: none

Red Hat Konflux purge lvm-operator-bundle Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
Due: lvm-operator-bundle-on-push

chore: update component names to match konflux updates
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
Due: lvm-operator-bundle-on-push

chore: updated SA names and pipeline names
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
Due: lvm-operator-bundle-on-push

Red Hat Konflux purge lvm-operator Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
Due: none

chore: update the versions file for 4.20
  .tekton/lvm-operator-4-20-pull-request.yaml
  .tekton/lvm-operator-4-20-push.yaml
  .tekton/lvm-operator-bundle-4-20-pull-request.yaml
  .tekton/lvm-operator-bundle-4-20-push.yaml
  .tekton/lvms-must-gather-4-20-pull-request.yaml
  .tekton/lvms-must-gather-4-20-push.yaml
  release/container-build.args
Due: none

chore: konflux task updates
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-bundle-on-push

feat(config): allow custom namespace installation
  Makefile
  config/default/kustomization.yaml
  config/default/namespace.yaml
  config/default/webhookcainjection_patch.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/prometheus/kustomization.yaml
  config/webhook/kustomization.yaml
  config/webhook/kustomizeconfig.yaml
  config/webhook/service.yaml
  config/webhook/validating_webhook_config.yaml
Due: none

feat(test): update e2e aws client creation
  test/e2e/aws_disk_test.go
  test/e2e/disk_setup_test.go
Due: none

chore: adding a config for renovate
  renovate.json
Due: none

chore: task manifest updates for 4.19
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-bundle-on-push

fix: rename the tekton files to match the new component names
  .tekton/lvm-operator-4-19-pull-request.yaml
  .tekton/lvm-operator-4-19-push.yaml
  .tekton/lvm-operator-bundle-4-19-pull-request.yaml
  .tekton/lvm-operator-bundle-4-19-push.yaml
  .tekton/lvms-must-gather-4-19-pull-request.yaml
  .tekton/lvms-must-gather-4-19-push.yaml
Due: none

fix: updating the tekton pipeline target branches
  .tekton/lvm-operator-4-19-pull-request.yaml
  .tekton/lvm-operator-4-19-push.yaml
  .tekton/lvm-operator-bundle-4-19-pull-request.yaml
  .tekton/lvm-operator-bundle-4-19-push.yaml
  .tekton/lvms-must-gather-4-19-pull-request.yaml
  .tekton/lvms-must-gather-4-19-push.yaml
Due: none

feat(controller): check for stale finalizers
  internal/controllers/lvmcluster/controller.go
Due: none

chore: added tekton pipelines for 4.18
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-integration-tests.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-bundle-on-push

fix: shifted the konflux build files to the new format
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
  Makefile
  must-gather/konflux.Dockerfile
  release/bundle/artifacts.lock.yaml
  release/bundle/bundle.konflux.Dockerfile
  release/container-build.args
  release/hack/generate-release-helpers.sh
  release/hack/generate-release.sh
  release/hack/generate-rpm-lock.md
  release/hack/generate-rpm-lock.sh
  release/hack/render_templates.sh
  release/hack/update-konflux-task-refs.sh
  release/konflux.make
  release/must-gather/must-gather.konflux.Dockerfile
  release/must-gather/rpms.in.yaml
  release/must-gather/rpms.lock.yaml
  release/operator/konflux.Dockerfile
  release/operator/rpms.in.yaml
  release/operator/rpms.lock.yaml
Due: lvm-operator-bundle-on-push

fix: makefile updates
  Makefile
  internal/controllers/vgmanager/exec/exec_test.go
  internal/controllers/vgmanager/lsblk/lsblk_test.go
Due: none

fix: konflux onboarding for 4.17
  .pre-commit-config.yaml
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-integration-tests.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
  Makefile
  internal/controllers/vgmanager/exec/exec_test.go
  internal/controllers/vgmanager/lsblk/lsblk_test.go
  release/bundle/artifacts.lock.yaml
  release/bundle/bundle.konflux.Dockerfile
  release/container-build.args
  release/hack/generate-release-helpers.sh
  release/hack/generate-release.sh
  release/hack/generate-rpm-lock.md
  release/hack/generate-rpm-lock.sh
  release/hack/render_templates.sh
  release/hack/update-konflux-task-refs.sh
  release/konflux.make
  release/must-gather/must-gather.konflux.Dockerfile
  release/must-gather/rpms.in.yaml
  release/must-gather/rpms.lock.yaml
  release/operator/konflux.Dockerfile
  release/operator/rpms.in.yaml
  release/operator/rpms.lock.yaml
  renovate.json
Due: lvm-operator-bundle-on-push

chore: golangci-lint update
  internal/cluster/sno.go
Due: none

chore: updating renovate config
  renovate.json
Due: none

Path conditions:
  lvm-operator-bundle-on-push: ((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/lvm-operator-bundle-pull-request.yaml)) or (any of: .tekton/lvm-operator-bundle-push.yaml)) or (any of: release/bundle/***)) or (any of: bundle/***)
  lvm-operator-catalog-v4.17-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.17-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.17-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.17.yaml)) or (any of: templates/lvm-operator-catalog-v4.17-template.yaml)) or (any of: konflux-catalog.Dockerfile)
