Repository openshift/lvm-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: lvm-operator-catalog-4-22-on-push, lvm-operator-catalog-v4.13-on-push, lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-4-16-on-push, lvm-operator-catalog-v4.17-on-push, lvm-operator-catalog-4-19-on-push, lvm-operator-catalog-4-20-on-pull-request, lvm-operator-on-push

Path conditions:
  lvm-operator-catalog-4-22-on-push: (((any of: .tekton/lvm-operator-catalog-pull-request.yaml) or (any of: .tekton/lvm-operator-catalog-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: release/catalog/***)
  lvm-operator-catalog-v4.13-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.13-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.13-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.13.json)) or (any of: templates/lvm-operator-catalog-v4.13-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-14-on-push: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.14-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.14-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.14.json)) or (any of: templates/lvm-operator-catalog-v4.14-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.15-on-pull-request: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.15-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.15-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.15.yaml)) or (any of: templates/lvm-operator-catalog-v4.15-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-16-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.16-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.16-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.16.json)) or (any of: templates/lvm-operator-catalog-v4.16-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.17-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.17-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.17-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.17.yaml)) or (any of: templates/lvm-operator-catalog-v4.17-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-19-on-push: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.19-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.19.json)) or (any of: templates/lvm-operator-catalog-v4.19-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-20-on-pull-request: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.20-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.20.json)) or (any of: templates/lvm-operator-catalog-v4.20-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-on-push: (((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/lvm-operator-pull-request.yaml)) or (any of: .tekton/lvm-operator-push.yaml)) or (any of: release/operator/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)) or (any of: api/***)

Remove trailing newline from Dockerfile
  test/integration/Dockerfile
Due: lvm-operator-on-push

chore: golang bump to 1.24.13 from 1.24.11
  go.mod
Due: lvm-operator-on-push

chore: updating the test/integration go mod as well
  test/integration/go.mod
Due: lvm-operator-on-push

OCPBUGS-81659: chore: golang bump to 1.24.13 from 1.24.11 (#2613)
  go.mod
  test/integration/go.mod
Due: lvm-operator-on-push

NO-ISSUE: Narrow controller-gen paths in Makefile
  Makefile
Due: lvm-operator-on-push

docs: fix typo
  docs/known-limitations.md
Due: none

docs: drop 4.10 and 4.11 upgrade limitations
  docs/known-limitations.md
Due: none

docs: address review feedback on RAID, v1alpha1 rationale, and limitations
  README.md
  docs/architecture.md
  docs/known-limitations.md
Due: none

docs: document CSI sidecar embedding pattern in upstream.md
  docs/upstream.md
Due: none

fix: adding initial 4.22 catalog with only 4.21 operator references
  release/catalog/lvm-operator-catalog-candidate-template.yaml
  release/catalog/lvm-operator-catalog-template.yaml
Due: lvm-operator-catalog-4-22-on-push

Add missing topolvm image to idms
  .tekton/images-mirror-set.yaml
Due: lvm-operator-catalog-4-22-on-push, lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-4-19-on-push, lvm-operator-catalog-4-20-on-pull-request

OCPEDGE-2731: Release 4.14.14
  releases/lvm-operator-catalog-4-14-14.yaml
  releases/lvm-operator-rhba-v4.14.14.yaml
Due: none

chore: releasing the initial catalog for ocp 4.22
  releases/lvm-operator-catalog-4-22-20260615-190004-000.yaml
Due: none

Automate OCP-88799- Verify reclaimPolicy and volumeBindingMode combinations
  test/integration/qe_tests/lvms.go
  test/integration/qe_tests/lvms_utils.go
  test/integration/qe_tests/testdata/storageclass-template.yaml
Due: lvm-operator-on-push

Fix error message on 4.16 branch
  test/integration/qe_tests/lvms.go
Due: lvm-operator-on-push

Add solved bugs to release notes
  releases/lvm-operator-rhba-v4.21.1.yaml
Due: none

chore: reset 4.22 catalog after hotfix
  release/catalog/lvm-operator-catalog-candidate-template.yaml
  release/catalog/lvm-operator-catalog-template.yaml
Due: lvm-operator-catalog-4-22-on-push

Add CPE label to bundle.konflux.Dockerfile
  release/bundle/bundle.konflux.Dockerfile
Due: none

Add bugs to release notes
  releases/lvm-operator-rhba-v4.19.3.yaml
Due: none

Automate OCP-88797-Verify StorageClassOptions reclaimPolicy and volumeBindingMode are applied to StorageClass
  test/integration/qe_tests/lvms.go
Due: lvm-operator-on-push

Automate RapiDAST in LVMS
  test/integration/qe_tests/lvms_utils.go
  test/integration/qe_tests/rapidast.go
  test/integration/qe_tests/testdata/rapidast_config_lvm_v1alpha1.yaml
  test/integration/qe_tests/testdata/rapidast_customscan.policy
  test/integration/qe_tests/testdata/rapidast_job.yaml
  test/integration/qe_tests/testdata/rapidast_sa.yaml
Due: lvm-operator-on-push

chore: update 4.22 catalog
  releases/lvm-operator-catalog-4-22-20260615-190004-000.yaml
  releases/lvm-operator-catalog-4-22-20260617-200220-000.yaml
Due: none

Automate OCP-88798-Verify StorageClassOptions additionalParameters and additionalLabels are applied to StorageClass
  test/integration/qe_tests/lvms.go
Due: lvm-operator-on-push

Fix error message on 4.14 branch
  test/integration/qe_tests/lvms.go
Due: lvm-operator-on-push
