Repository openshift/lvm-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: lvm-operator-catalog-v4.13-on-push, lvm-operator-catalog-v4.14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-v4.16-on-push, lvm-operator-catalog-v4.17-on-push, lvm-operator-on-push

Path conditions:
  lvm-operator-catalog-v4.13-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.13-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.13-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.13.json)) or (any of: templates/lvm-operator-catalog-v4.13-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.14-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.14-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.14-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.14.json)) or (any of: templates/lvm-operator-catalog-v4.14-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.15-on-pull-request: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.15-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.15-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.15.yaml)) or (any of: templates/lvm-operator-catalog-v4.15-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.16-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.16-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.16-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.16.json)) or (any of: templates/lvm-operator-catalog-v4.16-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.17-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.17-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.17-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.17.yaml)) or (any of: templates/lvm-operator-catalog-v4.17-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-on-push: (((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/lvm-operator-pull-request.yaml)) or (any of: .tekton/lvm-operator-push.yaml)) or (any of: release/operator/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)) or (any of: api/***)

test: trying the catalog without candidate and using production refs
  catalogs/lvm-operator-catalog-v4.19.json
  hack/generate_catalogs.sh
  templates/lvm-operator-catalog-v4.19-template.yaml
Due: none

fix: updating to match the new catalog format
  Makefile
  hack/configure_cluster_for_testing.sh
Due: lvm-operator-on-push

fix: updating to match the new catalog format (#1177)
  Makefile
  hack/configure_cluster_for_testing.sh
Due: lvm-operator-on-push

fix: dropped the candidate channel
  catalogs/lvm-operator-catalog-v4.14.json
  catalogs/lvm-operator-catalog-v4.15.json
  catalogs/lvm-operator-catalog-v4.16.json
  catalogs/lvm-operator-catalog-v4.17.json
  catalogs/lvm-operator-catalog-v4.18.json
  catalogs/lvm-operator-catalog-v4.19.json
  catalogs/lvm-operator-catalog-v4.20.json
  hack/generate_catalogs.sh
  hack/generate_templates.sh
  templates/lvm-operator-catalog-v4.14-template.yaml
  templates/lvm-operator-catalog-v4.15-template.yaml
  templates/lvm-operator-catalog-v4.16-template.yaml
  templates/lvm-operator-catalog-v4.17-template.yaml
  templates/lvm-operator-catalog-v4.18-template.yaml
  templates/lvm-operator-catalog-v4.19-template.yaml
  templates/lvm-operator-catalog-v4.20-template.yaml
Due: lvm-operator-catalog-v4.14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-v4.16-on-push, lvm-operator-catalog-v4.17-on-push

fix: corrected the 4.19.1 bundle version
  catalogs/lvm-operator-catalog-v4.19.json
  templates/lvm-operator-catalog-v4.19-template.yaml
Due: none

Revert "feat(networkpolicy): add default-deny policy"
  bundle/manifests/lvms-default-deny_networking.k8s.io_v1_networkpolicy.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/networkpolicy/default-deny-networkpolicy.yaml
  config/networkpolicy/kustomization.yaml
Due: none

Revert "feat(config): add network policies"
  Makefile
  bundle.Dockerfile
  bundle/manifests/lvms-operator-network-policy_networking.k8s.io_v1_networkpolicy.yaml
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  bundle/manifests/vg-manager-network-policy_networking.k8s.io_v1_networkpolicy.yaml
  bundle/metadata/annotations.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/default/kustomization.yaml
  config/manifests/bases/clusterserviceversion.yaml.in
  config/manifests/bases/lvms-operator.clusterserviceversion.yaml
  config/networkpolicy/kustomization.yaml
  config/networkpolicy/lvm-operator-networkpolicy.yaml
  config/networkpolicy/vgmanager-networkpolicy.yaml
Due: lvm-operator-on-push

NO-JIRA: fix: dropped the candidate channel (#1178)
  catalogs/lvm-operator-catalog-v4.14.json
  catalogs/lvm-operator-catalog-v4.15.json
  catalogs/lvm-operator-catalog-v4.16.json
  catalogs/lvm-operator-catalog-v4.17.json
  catalogs/lvm-operator-catalog-v4.18.json
  catalogs/lvm-operator-catalog-v4.19.json
  catalogs/lvm-operator-catalog-v4.20.json
  hack/generate_catalogs.sh
  hack/generate_templates.sh
  templates/lvm-operator-catalog-v4.14-template.yaml
  templates/lvm-operator-catalog-v4.15-template.yaml
  templates/lvm-operator-catalog-v4.16-template.yaml
  templates/lvm-operator-catalog-v4.17-template.yaml
  templates/lvm-operator-catalog-v4.18-template.yaml
  templates/lvm-operator-catalog-v4.19-template.yaml
  templates/lvm-operator-catalog-v4.20-template.yaml
Due: lvm-operator-catalog-v4.14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-v4.16-on-push, lvm-operator-catalog-v4.17-on-push

fix: updating the pipeline names to match konflux requirements
  .tekton/lvm-operator-catalog-v4.14-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.14-push.yaml
  .tekton/lvm-operator-catalog-v4.15-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.15-push.yaml
  .tekton/lvm-operator-catalog-v4.16-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.16-push.yaml
  .tekton/lvm-operator-catalog-v4.17-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.17-push.yaml
  .tekton/lvm-operator-catalog-v4.18-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.18-push.yaml
  .tekton/lvm-operator-catalog-v4.19-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.19-push.yaml
  .tekton/lvm-operator-catalog-v4.20-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.20-push.yaml
Due: lvm-operator-catalog-v4.14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-v4.16-on-push, lvm-operator-catalog-v4.17-on-push

fix: updating the pipeline names to match konflux requirements (#1206)
  .tekton/lvm-operator-catalog-v4.14-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.14-push.yaml
  .tekton/lvm-operator-catalog-v4.15-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.15-push.yaml
  .tekton/lvm-operator-catalog-v4.16-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.16-push.yaml
  .tekton/lvm-operator-catalog-v4.17-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.17-push.yaml
  .tekton/lvm-operator-catalog-v4.18-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.18-push.yaml
  .tekton/lvm-operator-catalog-v4.19-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.19-push.yaml
  .tekton/lvm-operator-catalog-v4.20-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.20-push.yaml
Due: lvm-operator-catalog-v4.14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-v4.16-on-push, lvm-operator-catalog-v4.17-on-push

misc fixes
  internal/controllers/persistent-volume-claim/controller.go
  internal/controllers/vgmanager/exec/exec.go
Due: lvm-operator-on-push

feat(wiping): add y option to vgcreate
  internal/controllers/vgmanager/controller.go
  internal/controllers/vgmanager/controller_test.go
  internal/controllers/vgmanager/devices.go
  internal/controllers/vgmanager/lvm/lvm.go
  internal/controllers/vgmanager/lvm/lvm_test.go
  internal/controllers/vgmanager/lvm/mocks/mock_lvm.go
Due: lvm-operator-on-push

release: 4.19.1
  Makefile
  README.md
  hack/generate-release-helpers.sh
  hack/generate-release.sh
  releases/lvm-operator-catalog-4-19-52gsd.yaml
  releases/lvm-operator-rhba-v4.19.1.yaml
Due: lvm-operator-on-push

release: 4.19.1 (#1213)
  Makefile
  README.md
  hack/generate-release-helpers.sh
  hack/generate-release.sh
  releases/lvm-operator-catalog-4-19-52gsd.yaml
  releases/lvm-operator-rhba-v4.19.1.yaml
Due: lvm-operator-on-push

fix: updated the release helpers to have the proper jira issue format
  hack/generate-release-helpers.sh
Due: none

fix: dropping the prefetch input from the bundle
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  release/bundle/artifacts.lock.yaml
  renovate.json
Due: none

fix: dropping the prefetch input from the bundle (#1214)
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  release/bundle/artifacts.lock.yaml
  renovate.json
Due: none

fix: updating after renovate broke the catalogs and pyxis changed our staging location
  catalogs/lvm-operator-catalog-v4.14.json
  catalogs/lvm-operator-catalog-v4.15.json
  catalogs/lvm-operator-catalog-v4.16.json
  catalogs/lvm-operator-catalog-v4.17.json
  catalogs/lvm-operator-catalog-v4.18.json
  catalogs/lvm-operator-catalog-v4.19.json
  catalogs/lvm-operator-catalog-v4.20.json
  hack/generate_catalogs.sh
  hack/generate_templates.sh
  renovate.json
  templates/lvm-operator-catalog-v4.14-template.yaml
  templates/lvm-operator-catalog-v4.15-template.yaml
  templates/lvm-operator-catalog-v4.16-template.yaml
  templates/lvm-operator-catalog-v4.17-template.yaml
  templates/lvm-operator-catalog-v4.18-template.yaml
  templates/lvm-operator-catalog-v4.19-template.yaml
  templates/lvm-operator-catalog-v4.20-template.yaml
Due: lvm-operator-catalog-v4.14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-v4.16-on-push, lvm-operator-catalog-v4.17-on-push

fix: dropping the bundle artifacts since they are no longer needed
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  release/bundle/artifacts.lock.yaml
Due: none

fix: dropping the bundle artifacts since they are no longer needed (#1218)
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  release/bundle/artifacts.lock.yaml
Due: none

fix: updating after renovate broke the catalogs and pyxis changed our staging location (#1217)
  catalogs/lvm-operator-catalog-v4.14.json
  catalogs/lvm-operator-catalog-v4.15.json
  catalogs/lvm-operator-catalog-v4.16.json
  catalogs/lvm-operator-catalog-v4.17.json
  catalogs/lvm-operator-catalog-v4.18.json
  catalogs/lvm-operator-catalog-v4.19.json
  catalogs/lvm-operator-catalog-v4.20.json
  hack/generate_catalogs.sh
  hack/generate_templates.sh
  renovate.json
  templates/lvm-operator-catalog-v4.14-template.yaml
  templates/lvm-operator-catalog-v4.15-template.yaml
  templates/lvm-operator-catalog-v4.16-template.yaml
  templates/lvm-operator-catalog-v4.17-template.yaml
  templates/lvm-operator-catalog-v4.18-template.yaml
  templates/lvm-operator-catalog-v4.19-template.yaml
  templates/lvm-operator-catalog-v4.20-template.yaml
Due: lvm-operator-catalog-v4.14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-v4.16-on-push, lvm-operator-catalog-v4.17-on-push

fix: updating the 4.19.1 release with new snapshots
  releases/lvm-operator-catalog-4-19-d7vgb.yaml
  releases/lvm-operator-rhba-v4.19.1.yaml
Due: none

fix: updating the 4.19.1 release with new snapshots (#1231)
  releases/lvm-operator-catalog-4-19-d7vgb.yaml
  releases/lvm-operator-rhba-v4.19.1.yaml
Due: none

fix: updated 4.19.1 issues format
  releases/lvm-operator-rhba-v4.19.1.yaml
Due: none

fix: z stream bump to .2
  release/container-build.args
Due: none

fix: z stream bump to .2 (#1232)
  release/container-build.args
Due: none

chore: 4.19 and 4.20 catalog updates
  catalogs/lvm-operator-catalog-v4.19.json
  catalogs/lvm-operator-catalog-v4.20.json
  hack/generate_templates.sh
  templates/lvm-operator-catalog-v4.19-template.yaml
  templates/lvm-operator-catalog-v4.20-template.yaml
Due: none

chore: 4.19 and 4.20 catalog updates (#1238)
  catalogs/lvm-operator-catalog-v4.19.json
  catalogs/lvm-operator-catalog-v4.20.json
  hack/generate_templates.sh
  templates/lvm-operator-catalog-v4.19-template.yaml
  templates/lvm-operator-catalog-v4.20-template.yaml
Due: none

fix: update all files that referenced vendoring and add the bundle tools
  .pre-commit-config.yaml
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  Dockerfile
  Makefile
  go.mod
  go.sum
  internal/tools/tools.go
  release/bundle/artifacts.lock.yaml
  release/bundle/bundle.konflux.Dockerfile
  release/operator/konflux.Dockerfile
Due: lvm-operator-on-push

fix: trying to fix nudging
  .tekton/images-mirror-set.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-on-push

fix: patching the catalogs
  catalogs/lvm-operator-catalog-v4.14.json
  catalogs/lvm-operator-catalog-v4.15.json
  catalogs/lvm-operator-catalog-v4.16.json
  catalogs/lvm-operator-catalog-v4.17.json
  catalogs/lvm-operator-catalog-v4.19.json
  catalogs/lvm-operator-catalog-v4.20.json
  hack/generate_templates.sh
  templates/lvm-operator-catalog-v4.14-template.yaml
  templates/lvm-operator-catalog-v4.15-template.yaml
  templates/lvm-operator-catalog-v4.16-template.yaml
  templates/lvm-operator-catalog-v4.17-template.yaml
  templates/lvm-operator-catalog-v4.19-template.yaml
  templates/lvm-operator-catalog-v4.20-template.yaml
Due: lvm-operator-catalog-v4.14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-v4.16-on-push, lvm-operator-catalog-v4.17-on-push

fix: patching the catalogs (#1243)
  catalogs/lvm-operator-catalog-v4.14.json
  catalogs/lvm-operator-catalog-v4.15.json
  catalogs/lvm-operator-catalog-v4.16.json
  catalogs/lvm-operator-catalog-v4.17.json
  catalogs/lvm-operator-catalog-v4.19.json
  catalogs/lvm-operator-catalog-v4.20.json
  hack/generate_templates.sh
  templates/lvm-operator-catalog-v4.14-template.yaml
  templates/lvm-operator-catalog-v4.15-template.yaml
  templates/lvm-operator-catalog-v4.16-template.yaml
  templates/lvm-operator-catalog-v4.17-template.yaml
  templates/lvm-operator-catalog-v4.19-template.yaml
  templates/lvm-operator-catalog-v4.20-template.yaml
Due: lvm-operator-catalog-v4.14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-v4.16-on-push, lvm-operator-catalog-v4.17-on-push

fix: trying to fix nudging (#1242)
  .tekton/images-mirror-set.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-on-push

fix: updating everything that was dependent on the vendor folder
  .pre-commit-config.yaml
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  Dockerfile
  Makefile
  go.mod
  go.sum
  internal/tools/tools.go
  release/bundle/artifacts.lock.yaml
  release/bundle/bundle.konflux.Dockerfile
  release/operator/konflux.Dockerfile
Due: lvm-operator-on-push
