Repository openshift/lvm-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: lvm-operator-catalog-4-22-on-push, lvm-operator-catalog-v4.13-on-push, lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-4-16-on-push, lvm-operator-catalog-v4.17-on-push, lvm-operator-catalog-4-19-on-push, lvm-operator-catalog-4-20-on-pull-request, lvm-operator-on-push

lvm-operator-catalog-4-22-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.22-{{revision}}
  - name: dockerfile
    value: release/catalog/catalog.konflux.Dockerfile
  ...

lvm-operator-catalog-v4.13-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.13-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-4-14-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.14-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-v4.15-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.15-on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

lvm-operator-catalog-4-16-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.16-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-v4.17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.17-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.19-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.20-on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

Skip rapidast on arm and disconnected clusters
  test/integration/qe_tests/lvms_utils.go
  test/integration/qe_tests/rapidast.go
Due: lvm-operator-on-push

chore: LVMS 5.0 branching
  .tekton/catalog-build-pipeline.yaml
  .tekton/catalog-patching-build-pipeline.yaml
  .tekton/lvm-operator-5-0-pull-request.yaml
  .tekton/lvm-operator-5-0-push.yaml
  .tekton/lvm-operator-bundle-5-0-pull-request.yaml
  .tekton/lvm-operator-bundle-5-0-push.yaml
  .tekton/lvm-operator-catalog-5-0-pull-request.yaml
  .tekton/lvm-operator-catalog-5-0-push.yaml
  .tekton/lvms-must-gather-5-0-pull-request.yaml
  .tekton/lvms-must-gather-5-0-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-on-push

chore: 4.23 remote pipeline update
  .tekton/catalog-build-pipeline.yaml
  .tekton/catalog-patching-build-pipeline.yaml
  .tekton/lvm-operator-5-0-pull-request.yaml
  .tekton/lvm-operator-5-0-push.yaml
  .tekton/lvm-operator-bundle-5-0-pull-request.yaml
  .tekton/lvm-operator-bundle-5-0-push.yaml
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-catalog-5-0-pull-request.yaml
  .tekton/lvm-operator-catalog-5-0-push.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-5-0-pull-request.yaml
  .tekton/lvms-must-gather-5-0-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-catalog-4-22-on-push, lvm-operator-on-push

chore: update main to be v5.1.0
  .tekton/catalog-build-pipeline.yaml
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-5-0-pull-request.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
  release/container-build.args
  release/konflux.make
Due: lvm-operator-catalog-4-22-on-push, lvm-operator-on-push

Revert "OCPEDGE-2923: feat(resouce): add network policies"
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/rbac/role.yaml
  internal/controllers/lvmcluster/controller.go
  internal/controllers/lvmcluster/resource/networkpolicy.go
  internal/controllers/lvmcluster/resource/networkpolicy_test.go
Due: lvm-operator-on-push

chore: LVMS 5.0 branching (#3112)
  .tekton/catalog-build-pipeline.yaml
  .tekton/catalog-patching-build-pipeline.yaml
  .tekton/lvm-operator-5-0-pull-request.yaml
  .tekton/lvm-operator-5-0-push.yaml
  .tekton/lvm-operator-bundle-5-0-pull-request.yaml
  .tekton/lvm-operator-bundle-5-0-push.yaml
  .tekton/lvm-operator-catalog-5-0-pull-request.yaml
  .tekton/lvm-operator-catalog-5-0-push.yaml
  .tekton/lvms-must-gather-5-0-pull-request.yaml
  .tekton/lvms-must-gather-5-0-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-on-push

chore: 4.23 remote pipeline update (#3114)
  .tekton/catalog-build-pipeline.yaml
  .tekton/catalog-patching-build-pipeline.yaml
  .tekton/lvm-operator-5-0-pull-request.yaml
  .tekton/lvm-operator-5-0-push.yaml
  .tekton/lvm-operator-bundle-5-0-pull-request.yaml
  .tekton/lvm-operator-bundle-5-0-push.yaml
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-catalog-5-0-pull-request.yaml
  .tekton/lvm-operator-catalog-5-0-push.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-5-0-pull-request.yaml
  .tekton/lvms-must-gather-5-0-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-catalog-4-22-on-push, lvm-operator-on-push

Automate OCP-90162-Verify LVMS RAID5 survives disk failure and can be repaired with replacement disk
  test/integration/qe_tests/lvms.go
  test/integration/qe_tests/lvms_utils.go
  test/integration/qe_tests/testdata/lvmcluster-raid-template.yaml
Due: lvm-operator-on-push

chore: update main to be v5.1.0 (#3113)
  .tekton/catalog-build-pipeline.yaml
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-5-0-pull-request.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
  release/container-build.args
  release/konflux.make
Due: lvm-operator-catalog-4-22-on-push, lvm-operator-on-push

docs: narrow LVMCluster naming fix spec to name-only rename
  docs/superpowers/specs/2026-08-19-lvmcluster-initialization-resource-name-design.md
Due: none

docs: add implementation plan for LVMCluster initialization-resource fix
  docs/superpowers/plans/2026-08-19-lvmcluster-initialization-resource-name-fix.md
Due: none

docs: add design spec for LVMCluster initialization-resource name fix
  docs/superpowers/specs/2026-08-19-lvmcluster-initialization-resource-name-design.md
Due: none

manifests: align initialization-resource LVMCluster name with samples
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/manifests/bases/clusterserviceversion.yaml.in
  config/manifests/bases/lvms-operator.clusterserviceversion.yaml
Due: none

Skip tests 67002&76425
  test/integration/qe_tests/lvms.go
Due: lvm-operator-on-push

Skip tests 73363 & 67002
  test/integration/qe_tests/lvms.go
Due: lvm-operator-on-push

Skip test 67002
  test/integration/qe_tests/lvms.go
Due: lvm-operator-on-push

Skip tests 89594 & 73363 as they are failing
  test/integration/qe_tests/lvms.go
Due: lvm-operator-on-push

Skip 76425
  test/integration/qe_tests/lvms.go
Due: lvm-operator-on-push

fix: remove duplicate tekton files for 5.1
  .tekton/lvm-operator-5-1-pull-request.yaml
  .tekton/lvm-operator-5-1-push.yaml
  .tekton/lvms-must-gather-5-1-pull-request.yaml
  .tekton/lvms-must-gather-5-1-push.yaml
Due: none

fix: remove duplicate tekton files for 5.1 (#3159)
  .tekton/lvm-operator-5-1-pull-request.yaml
  .tekton/lvm-operator-5-1-push.yaml
  .tekton/lvms-must-gather-5-1-pull-request.yaml
  .tekton/lvms-must-gather-5-1-push.yaml
Due: none

fix: manual bundle bump
  release/bundle/bundle.konflux.Dockerfile
Due: none

fix: manual bundle bump (#3168)
  release/bundle/bundle.konflux.Dockerfile
Due: none

chore: correct version number for the candidate catalog template
  release/catalog/lvm-operator-catalog-candidate-template.yaml
Due: lvm-operator-catalog-4-22-on-push

chore: correct version number for the candidate catalog template (#3170)
  release/catalog/lvm-operator-catalog-candidate-template.yaml
Due: lvm-operator-catalog-4-22-on-push

NO-JIRA: update owners
  OWNERS_ALIASES
Due: none

Fix case
  test/integration/qe_tests/lvms_utils.go
  test/integration/qe_tests/testdata/lvmcluster-with-multi-device-template.yaml
Due: lvm-operator-on-push

OCPEDGE-2977: Fix 5.1 images tekton configuration
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
Due: lvm-operator-catalog-4-22-on-push

OCPEDGE-2977: Add BASE_IMAGE_TAG
  release/catalog/catalog.konflux.Dockerfile
Due: lvm-operator-catalog-4-22-on-push

Automate RapiDAST in LVMS
  test/integration/qe_tests/lvms_utils.go
  test/integration/qe_tests/rapidast.go
  test/integration/qe_tests/testdata/rapidast_config_lvm_v1alpha1.yaml
  test/integration/qe_tests/testdata/rapidast_customscan.policy
  test/integration/qe_tests/testdata/rapidast_job.yaml
  test/integration/qe_tests/testdata/rapidast_sa.yaml
Due: lvm-operator-on-push

NO-JIRA: add cpe label to operator and must-gather containers
  release/must-gather/must-gather.konflux.Dockerfile
  release/operator/konflux.Dockerfile
Due: lvm-operator-on-push

OCPEDGE-2731: Update 4.14.14 catalog and operator
  releases/lvm-operator-catalog-4-14-14.yaml
  releases/lvm-operator-rhba-v4.14.14.yaml
Due: none

Automate OCP-90161-Verify that LVMS supports software RAID configuration
  test/integration/qe_tests/lvms.go
  test/integration/qe_tests/lvms_utils.go
Due: lvm-operator-on-push

Path conditions:
  lvm-operator-catalog-4-22-on-push: (((any of: .tekton/lvm-operator-catalog-pull-request.yaml) or (any of: .tekton/lvm-operator-catalog-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: release/catalog/***)
  lvm-operator-catalog-v4.13-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.13-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.13-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.13.json)) or (any of: templates/lvm-operator-catalog-v4.13-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-14-on-push: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.14-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.14-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.14.json)) or (any of: templates/lvm-operator-catalog-v4.14-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.15-on-pull-request: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.15-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.15-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.15.yaml)) or (any of: templates/lvm-operator-catalog-v4.15-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-16-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.16-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.16-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.16.json)) or (any of: templates/lvm-operator-catalog-v4.16-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.17-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.17-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.17-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.17.yaml)) or (any of: templates/lvm-operator-catalog-v4.17-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-19-on-push: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.19-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.19.json)) or (any of: templates/lvm-operator-catalog-v4.19-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-20-on-pull-request: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.20-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.20.json)) or (any of: templates/lvm-operator-catalog-v4.20-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-on-push: (((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/lvm-operator-pull-request.yaml)) or (any of: .tekton/lvm-operator-push.yaml)) or (any of: release/operator/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)) or (any of: api/***)
