Repository openshift/lvm-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: lvm-operator-catalog-4-22-on-push, lvm-operator-catalog-v4.13-on-push, lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-4-16-on-push, lvm-operator-catalog-v4.17-on-push, lvm-operator-catalog-4-19-on-push, lvm-operator-catalog-4-20-on-pull-request, lvm-operator-on-push

lvm-operator-catalog-4-22-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.22-{{revision}}
  - name: dockerfile
    value: release/catalog/catalog.konflux.Dockerfile
  ...

lvm-operator-catalog-v4.13-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.13-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-4-14-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.14-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-v4.15-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.15-on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

lvm-operator-catalog-4-16-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.16-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-v4.17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.17-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.19-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.20-on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

docs: add path-scoped rules, agent skills, and promote ADRs 0001-0004
  .claude/commands/modify-crd.md
  .claude/commands/new-adr.md
  .claude/commands/run-e2e.md
  .claude/rules/api-types.md
  .claude/rules/reconciliation.md
  .claude/rules/testing.md
  .claude/rules/vgmanager.md
  docs/decisions/0001-single-binary-architecture.md
  docs/decisions/0002-v1alpha1-is-stable.md
  docs/decisions/0003-finalizer-hierarchy.md
  docs/decisions/0004-conservative-device-filters.md
  docs/decisions/index.md
Due: none

feat(agents): add cross-tool support and expand AI contribution guidance
  .cursor/rules/lvms.mdc
  .github/instructions/api-types.instructions.md
  AGENTS.md
  CONTRIBUTING.md
Due: none

OCPEDGE-2782: fix DeviceDiscoveryPolicy nil default to Static for new clusters
  api/v1alpha1/lvmcluster_test.go
  api/v1alpha1/lvmcluster_types.go
  api/v1alpha1/lvmcluster_webhook.go
  bundle/manifests/lvm.topolvm.io_lvmclusters.yaml
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/crd/bases/lvm.topolvm.io_lvmclusters.yaml
  config/webhook/kustomization.yaml
  config/webhook/manifests.yaml
  config/webhook/mutating_webhook_config.yaml
  docs/domain/glossary.md
Due: lvm-operator-on-push

feat(RAID): add health monitoring
  api/v1alpha1/lvmvolumegroupnodestatus_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lvm.topolvm.io_lvmclusters.yaml
  bundle/manifests/lvm.topolvm.io_lvmvolumegroupnodestatuses.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/crd/bases/lvm.topolvm.io_lvmclusters.yaml
  config/crd/bases/lvm.topolvm.io_lvmvolumegroupnodestatuses.yaml
  docs/conventions/reconciliation.md
  internal/controllers/vgmanager/controller.go
  internal/controllers/vgmanager/controller_test.go
  internal/controllers/vgmanager/raid.go
  internal/controllers/vgmanager/raid_metrics.go
  internal/controllers/vgmanager/raid_metrics_test.go
  internal/controllers/vgmanager/raid_test.go
  internal/controllers/vgmanager/status.go
Due: lvm-operator-on-push

OCPBUGS-98044: fix DeviceDiscoveryPolicy nil default to Static for new clusters
  api/v1alpha1/lvmcluster_test.go
  api/v1alpha1/lvmcluster_types.go
  api/v1alpha1/lvmcluster_webhook.go
  bundle/manifests/lvm.topolvm.io_lvmclusters.yaml
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/crd/bases/lvm.topolvm.io_lvmclusters.yaml
  config/webhook/kustomization.yaml
  config/webhook/manifests.yaml
  config/webhook/mutating_webhook_config.yaml
Due: lvm-operator-on-push

feat(CRD): add missing watch verb
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/rbac/role.yaml
  internal/controllers/lvmcluster/controller.go
Due: lvm-operator-on-push

feat(docs): add RAID test plan
  docs/testing/raid-test-plan.md
Due: none

feat(status): fix raid status display
  internal/controllers/vgmanager/raid.go
  internal/controllers/vgmanager/raid_test.go
Due: lvm-operator-on-push

OCPEDGE-2778: add drift detection audit for agentic harness docs
  .claude/settings.json
  CONTRIBUTING.md
  Makefile
  docs/conventions/api-and-validation.md
  docs/conventions/code-style.md
  docs/conventions/reconciliation.md
  docs/conventions/safety.md
  docs/conventions/testing.md
  hack/verify-docs.sh
Due: lvm-operator-on-push

Automate OCP-89594-Verify LVMCluster deviceDiscoveryPolicy is configurable
  test/integration/qe_tests/lvms.go
  test/integration/qe_tests/testdata/lvmcluster-devicediscovery-template.yaml
Due: lvm-operator-on-push

Add Konflux override snapshot generation script and slash command
  .claude/commands/lvms/konflux/create_snapshot.md
  hack/generate_override_snapshot_yaml.sh
Due: none

Harden snapshot generation script and slash command
  .claude/commands/lvms/konflux/create_snapshot.md
  hack/generate_override_snapshot_yaml.sh
Due: none

fix: updating 4.21.1 to use an override operator snapshot
  releases/lvm-operator-rhba-v4.21.1.yaml
Due: none

chore: hotfix for the 4.21.1 catalog
  release/catalog/lvm-operator-catalog-candidate-template.yaml
  release/catalog/lvm-operator-catalog-template.yaml
Due: lvm-operator-catalog-4-22-on-push

chore: hotfix for the 4.21.1 catalog (#2882)
  release/catalog/lvm-operator-catalog-candidate-template.yaml
  release/catalog/lvm-operator-catalog-template.yaml
Due: lvm-operator-catalog-4-22-on-push

fix: redo of the 4.21.1 catalog release
  releases/lvm-operator-catalog-4.21.1.yaml
Due: none

fix: redo of the 4.21.1 catalog release (#2883)
  releases/lvm-operator-catalog-4.21.1.yaml
Due: none

tekton: fail closed on API/registry errors, sign automation commits
  .tekton/catalog-candidate-update-staging-final-pipeline.yaml
  .tekton/operator-version-bump-production-final-pipeline.yaml
  release/hack/generate_catalog_template.sh
Due: none

release: resolve candidate bundle digests via quay
  release/hack/generate_catalog_template.sh
Due: none

tekton: add production and staging final pipelines
  .tekton/catalog-candidate-update-staging-final-pipeline.yaml
  .tekton/operator-version-bump-production-final-pipeline.yaml
Due: none

docs: add Konflux build and release documentation
  docs/konflux/README.md
  docs/konflux/file-based-catalog.md
  docs/konflux/operator-bundle-lifecycle.md
  docs/konflux/release-management.md
Due: none

chore: remove the unused catalog pipeline
  .tekton/catalog-build-pipeline.yaml
Due: none

docs: add ADR-0013 for implementing konflux final pipelines for catalog version management
  docs/decisions/0013-konflux-final-pipelines-for-release-automation.md
  docs/decisions/index.md
Due: none

fix: harden catalog template generation against retries and unset vars
  release/hack/generate_catalog_template.sh
Due: none

docs: fix Konflux docs review findings and typos
  docs/decisions/index.md
  docs/konflux/README.md
  docs/konflux/file-based-catalog.md
  docs/konflux/release-management.md
  release/hack/generate_catalog_template.sh
Due: none

OCPEDGE-2777: fix documentation gaps found by consumption validation
  AGENTS.md
  docs/domain/concepts.md
  docs/known-limitations.md
  docs/playbooks/add-api-field.md
Due: none

Add cpe label to must-gather container
  release/must-gather/must-gather.konflux.Dockerfile
Due: none

Update operator image in bundle
  release/bundle/bundle.konflux.Dockerfile
Due: none

feat(tests): read new overprovision ratio
  test/integration/qe_tests/lvms.go
Due: lvm-operator-on-push

Release 4.20.1 fixes
  releases/lvm-operator-catalog-4.20.1.yaml
  releases/lvm-operator-rhba-v4.20.1.yaml
Due: none

Update operator image
  release/bundle/bundle.konflux.Dockerfile
Due: none

Update 4.20.1 bundle reference in catalog template
  release/catalog/lvm-operator-catalog-template.yaml
Due: lvm-operator-catalog-4-22-on-push

Update container build args to 4.20.2
  release/container-build.args
Due: none

Remove current bundle from candidate list
  release/catalog/lvm-operator-catalog-candidate-template.yaml
Due: lvm-operator-catalog-4-22-on-push

Add inspect-catalog helper
  hack/inspect-catalog.sh
Due: none

Add CVEs to release notes
  releases/lvm-operator-rhba-v4.19.3.yaml
Due: none

Bashate fixes
  hack/inspect-catalog.sh
Due: none

Remove some of the options
  hack/inspect-catalog.sh
Due: none

Path conditions:
  lvm-operator-catalog-4-22-on-push: (((any of: .tekton/lvm-operator-catalog-pull-request.yaml) or (any of: .tekton/lvm-operator-catalog-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: release/catalog/***)
  lvm-operator-catalog-v4.13-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.13-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.13-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.13.json)) or (any of: templates/lvm-operator-catalog-v4.13-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-14-on-push: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.14-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.14-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.14.json)) or (any of: templates/lvm-operator-catalog-v4.14-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.15-on-pull-request: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.15-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.15-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.15.yaml)) or (any of: templates/lvm-operator-catalog-v4.15-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-16-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.16-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.16-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.16.json)) or (any of: templates/lvm-operator-catalog-v4.16-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.17-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.17-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.17-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.17.yaml)) or (any of: templates/lvm-operator-catalog-v4.17-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-19-on-push: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.19-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.19.json)) or (any of: templates/lvm-operator-catalog-v4.19-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-20-on-pull-request: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.20-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.20.json)) or (any of: templates/lvm-operator-catalog-v4.20-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-on-push: (((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/lvm-operator-pull-request.yaml)) or (any of: .tekton/lvm-operator-push.yaml)) or (any of: release/operator/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)) or (any of: api/***)
