Repository openshift/lvm-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: lvm-operator-bundle-on-push, lvm-operator-catalog-v4.13-on-push, lvm-operator-catalog-v4.14-on-push, lvm-operator-catalog-v4.17-on-push, lvm-operator-on-push, lvms-must-gather-on-push

Path conditions:
  lvm-operator-bundle-on-push: ((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/lvm-operator-bundle-pull-request.yaml)) or (any of: .tekton/lvm-operator-bundle-push.yaml)) or (any of: release/bundle/***)) or (any of: bundle/***)
  lvm-operator-catalog-v4.13-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.13-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.13-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.13.json)) or (any of: templates/lvm-operator-catalog-v4.13-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.14-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.14-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.14-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.14.json)) or (any of: templates/lvm-operator-catalog-v4.14-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.17-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.17-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.17-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.17.yaml)) or (any of: templates/lvm-operator-catalog-v4.17-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-on-push: (((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/lvm-operator-pull-request.yaml)) or (any of: .tekton/lvm-operator-push.yaml)) or (any of: release/operator/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)) or (any of: api/***)
  lvms-must-gather-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/lvms-must-gather-pull-request.yaml)) or (any of: .tekton/lvms-must-gather-push.yaml)) or (any of: must-gather/***)) or (any of: release/must-gather/***)

chore: updating renovate config
  renovate.json
Due: none

bugfix stale node removals
  internal/controllers/lvmcluster/controller.go
Due: lvm-operator-on-push

fix: konflux onboarding for 4.16
  .pre-commit-config.yaml
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-integration-tests.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
  Makefile
  internal/cluster/sno.go
  internal/controllers/vgmanager/exec/exec_test.go
  internal/controllers/vgmanager/lsblk/lsblk_test.go
  release/bundle/artifacts.lock.yaml
  release/bundle/bundle.konflux.Dockerfile
  release/container-build.args
  release/hack/generate-release-helpers.sh
  release/hack/generate-release.sh
  release/hack/generate-rpm-lock.md
  release/hack/generate-rpm-lock.sh
  release/hack/render_templates.sh
  release/hack/update-konflux-task-refs.sh
  release/konflux.make
  release/must-gather/must-gather.konflux.Dockerfile
  release/must-gather/rpms.in.yaml
  release/must-gather/rpms.lock.yaml
  release/operator/konflux.Dockerfile
  release/operator/rpms.in.yaml
  release/operator/rpms.lock.yaml
  renovate.json
Due: lvm-operator-bundle-on-push, lvm-operator-on-push, lvms-must-gather-on-push

fix: switching to brew source for golang builder
  release/operator/konflux.Dockerfile
Due: lvm-operator-on-push

fix: konflux onboarding for 4.15
  .pre-commit-config.yaml
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-integration-tests.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
  Makefile
  internal/cluster/sno.go
  release/bundle/artifacts.lock.yaml
  release/bundle/bundle.konflux.Dockerfile
  release/container-build.args
  release/hack/generate-release-helpers.sh
  release/hack/generate-release.sh
  release/hack/generate-rpm-lock.md
  release/hack/generate-rpm-lock.sh
  release/hack/render_templates.sh
  release/hack/update-konflux-task-refs.sh
  release/konflux.make
  release/must-gather/must-gather.konflux.Dockerfile
  release/must-gather/rpms.in.yaml
  release/must-gather/rpms.lock.yaml
  release/operator/konflux.Dockerfile
  release/operator/rpms.in.yaml
  release/operator/rpms.lock.yaml
  renovate.json
Due: lvm-operator-bundle-on-push, lvm-operator-on-push, lvms-must-gather-on-push

fix: patch the digest in the konflux bundle for lvms-must-gather on release-4.16 branch
  release/bundle/bundle.konflux.Dockerfile
Due: lvm-operator-bundle-on-push

NO-JIRA: Update Konflux references
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-bundle-on-push, lvm-operator-on-push, lvms-must-gather-on-push

NO-JIRA: Update Konflux references to 2461be7
  .tekton/lvm-operator-catalog-v4.12-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.12-push.yaml
  .tekton/lvm-operator-catalog-v4.13-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.13-push.yaml
  .tekton/lvm-operator-catalog-v4.14-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.14-push.yaml
  .tekton/lvm-operator-catalog-v4.15-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.15-push.yaml
  .tekton/lvm-operator-catalog-v4.16-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.16-push.yaml
  .tekton/lvm-operator-catalog-v4.17-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.17-push.yaml
  .tekton/lvm-operator-catalog-v4.18-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.18-push.yaml
  .tekton/lvm-operator-catalog-v4.19-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.19-push.yaml
Due: lvm-operator-catalog-v4.13-on-push, lvm-operator-catalog-v4.14-on-push, lvm-operator-catalog-v4.17-on-push

chore: update konflux task refs
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-bundle-on-push, lvm-operator-on-push, lvms-must-gather-on-push

chore: rolling back the coverity check task since the current one is broken
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-bundle-on-push, lvm-operator-on-push, lvms-must-gather-on-push

fix: konflux onboarding for 4.14
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-integration-tests.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
  Makefile
  release/bundle/artifacts.lock.yaml
  release/bundle/bundle.konflux.Dockerfile
  release/container-build.args
  release/hack/generate-release-helpers.sh
  release/hack/generate-release.sh
  release/hack/generate-rpm-lock.md
  release/hack/generate-rpm-lock.sh
  release/hack/render_templates.sh
  release/hack/update-konflux-task-refs.sh
  release/konflux.make
  release/must-gather/must-gather.konflux.Dockerfile
  release/must-gather/rpms.in.yaml
  release/must-gather/rpms.lock.yaml
  release/operator/konflux.Dockerfile
  release/operator/rpms.in.yaml
  release/operator/rpms.lock.yaml
  renovate.json
Due: lvm-operator-bundle-on-push, lvm-operator-on-push, lvms-must-gather-on-push

Red Hat Konflux purge lvms-must-gather-4-19 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/lvms-must-gather-4-19-pull-request.yaml
  .tekton/lvms-must-gather-4-19-push.yaml
Due: none

Red Hat Konflux purge lvm-operator-bundle-4-20 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/lvm-operator-bundle-4-20-pull-request.yaml
  .tekton/lvm-operator-bundle-4-20-push.yaml
Due: none

Red Hat Konflux purge lvms-must-gather-4-20 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/lvms-must-gather-4-20-pull-request.yaml
  .tekton/lvms-must-gather-4-20-push.yaml
Due: none

Red Hat Konflux purge lvm-operator-bundle-4-19 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/lvm-operator-bundle-4-19-pull-request.yaml
  .tekton/lvm-operator-bundle-4-19-push.yaml
Due: none

Red Hat Konflux purge lvm-operator-4-19 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/lvm-operator-4-19-pull-request.yaml
  .tekton/lvm-operator-4-19-push.yaml
Due: none

Red Hat Konflux purge lvm-operator-4-20 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/lvm-operator-4-20-pull-request.yaml
  .tekton/lvm-operator-4-20-push.yaml
Due: none

fix: fixing for the old directory structure
  release/operator/konflux.Dockerfile
Due: lvm-operator-on-push

fix: updating the operand dockerfile to match the old build methods
  release/operator/konflux.Dockerfile
Due: lvm-operator-on-push

fix: changing the must-gather dockerfile to copy scripts to /usr/bin
  release/must-gather/must-gather.konflux.Dockerfile
Due: lvms-must-gather-on-push

test
  internal/controllers/node/removal/controller.go
Due: lvm-operator-on-push

fix: targetting the correct file names for push and pull events
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
Due: lvm-operator-bundle-on-push, lvm-operator-on-push, lvms-must-gather-on-push

fix: updated pipeline target files
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
Due: lvm-operator-bundle-on-push, lvm-operator-on-push, lvms-must-gather-on-push

fix: updated konflux pipeline target files
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
Due: lvm-operator-bundle-on-push, lvm-operator-on-push, lvms-must-gather-on-push

fix: konflux pipeline target file update
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
Due: lvm-operator-bundle-on-push, lvm-operator-on-push, lvms-must-gather-on-push

fix: konflux pipeline target file update
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
Due: lvm-operator-bundle-on-push, lvm-operator-on-push, lvms-must-gather-on-push

fix: trying to ignore the tools.go file for controller-gen
  .pre-commit-config.yaml
  internal/tools/tools.go
Due: lvm-operator-on-push

test: set kustomize path to be pwd
  Makefile
Due: lvm-operator-on-push

feat(controller): remove missing node finalizers
  internal/controllers/lvmcluster/controller.go
Due: lvm-operator-on-push

fix: updated rpm lock
  release/must-gather/rpms.lock.yaml
  release/operator/rpms.lock.yaml
Due: lvm-operator-on-push, lvms-must-gather-on-push
