Repository openshift/lvm-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: lvm-operator-catalog-4-22-on-push, lvm-operator-catalog-v4.13-on-push, lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-4-16-on-push, lvm-operator-catalog-v4.17-on-push, lvm-operator-catalog-4-19-on-push, lvm-operator-catalog-4-20-on-pull-request, lvm-operator-on-push

Path conditions:
  lvm-operator-catalog-4-22-on-push: (((any of: .tekton/lvm-operator-catalog-pull-request.yaml) or (any of: .tekton/lvm-operator-catalog-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: release/catalog/***)
  lvm-operator-catalog-v4.13-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.13-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.13-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.13.json)) or (any of: templates/lvm-operator-catalog-v4.13-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-14-on-push: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.14-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.14-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.14.json)) or (any of: templates/lvm-operator-catalog-v4.14-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.15-on-pull-request: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.15-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.15-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.15.yaml)) or (any of: templates/lvm-operator-catalog-v4.15-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-16-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.16-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.16-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.16.json)) or (any of: templates/lvm-operator-catalog-v4.16-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.17-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.17-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.17-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.17.yaml)) or (any of: templates/lvm-operator-catalog-v4.17-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-19-on-push: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.19-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.19.json)) or (any of: templates/lvm-operator-catalog-v4.19-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-20-on-pull-request: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.20-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.20.json)) or (any of: templates/lvm-operator-catalog-v4.20-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-on-push: (((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/lvm-operator-pull-request.yaml)) or (any of: .tekton/lvm-operator-push.yaml)) or (any of: release/operator/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)) or (any of: api/***)

docs: add language tags to plan expected-output fences
  docs/superpowers/plans/2026-08-19-lvmcluster-initialization-resource-name-fix.md
Due: none

OCPEDGE-2977: Add BASE_IMAGE_TAG
  release/catalog/catalog.konflux.Dockerfile
Due: lvm-operator-catalog-4-22-on-push

OCPEDGE-2388: Update catalog and bundle for 4.19.3
  releases/lvm-operator-catalog-4.19.3.yaml
  releases/lvm-operator-rhba-v4.19.3.yaml
Due: none

docs: add design spec for LVMCluster initialization-resource name fix
  docs/superpowers/specs/2026-08-19-lvmcluster-initialization-resource-name-design.md
Due: none

docs: narrow LVMCluster naming fix spec to name-only rename
  docs/superpowers/specs/2026-08-19-lvmcluster-initialization-resource-name-design.md
Due: none

docs: add implementation plan for LVMCluster initialization-resource fix
  docs/superpowers/plans/2026-08-19-lvmcluster-initialization-resource-name-fix.md
Due: none

manifests: align initialization-resource LVMCluster name with samples
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/manifests/bases/clusterserviceversion.yaml.in
  config/manifests/bases/lvms-operator.clusterserviceversion.yaml
Due: none

OCPEDGE-2722: Update 4.18.5 images
  releases/lvm-operator-catalog-4.18.5.yaml
  releases/lvm-operator-rhba-v4.18.5.yaml
Due: none

docs: point initialization-resource plan at catalog v0.0.1
  docs/superpowers/plans/2026-08-19-lvmcluster-initialization-resource-name-fix.md
Due: none

feat(test): add raid e2e tests
  test/e2e/device_removal_test.go
  test/e2e/lvm_suite_test.go
  test/e2e/raid_test.go
Due: lvm-operator-on-push

update bundle and catalog
  releases/lvm-operator-catalog-4.20.2.yaml
  releases/lvm-operator-rhba-v4.20.2.yaml
Due: none

Sync renovate.json with main to fix rpm-lock automation
  renovate.json
Due: none

feat(vgmanager): add selinux support
  Makefile
  internal/controllers/lvmcluster/resource/topolvm_csi_driver.go
  internal/controllers/lvmcluster/resource/topolvm_csi_driver_test.go
  internal/controllers/lvmcluster/resource/vgmanager_daemonset.go
  internal/controllers/lvmcluster/resource/vgmanager_daemonset_test.go
Due: lvm-operator-on-push

update operator rpm lock file
  release/operator/rpms.lock.yaml
Due: lvm-operator-on-push

update must-gather rpm lock file
  release/must-gather/rpms.in.yaml
  release/must-gather/rpms.lock.yaml
Due: none

Fix catalog Dockerfile to support fbc-inject-lifecycle for OCP 5.0
  .tekton/catalog-patching-build-pipeline.yaml
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  release/catalog/catalog.konflux.Dockerfile
  release/catalog/lvms-operator/.indexignore
Due: lvm-operator-catalog-4-22-on-push

fix: updating the catalog push/pull pipelines to include data for the new fbc-inject-lifecycle task
  .tekton/lvm-operator-catalog-5-0-pull-request.yaml
  .tekton/lvm-operator-catalog-5-0-push.yaml
  release/catalog/catalog.konflux.Dockerfile
  release/catalog/lvms-operator/.indexignore
Due: lvm-operator-catalog-4-22-on-push

fix: updating the catalog version for 5.1
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
Due: lvm-operator-catalog-4-22-on-push

fix: updating the catalog push/pull pipelines to include data for the new fbc-inject-lifecycle task (#3362)
  .tekton/lvm-operator-catalog-5-0-pull-request.yaml
  .tekton/lvm-operator-catalog-5-0-push.yaml
  release/catalog/catalog.konflux.Dockerfile
  release/catalog/lvms-operator/.indexignore
Due: lvm-operator-catalog-4-22-on-push

fix: updating the catalog version for 5.1 (#3363)
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
Due: lvm-operator-catalog-4-22-on-push

Update catalog and operator
  releases/lvm-operator-catalog-4.20.2.yaml
  releases/lvm-operator-rhba-v4.20.2.yaml
Due: none

OCPEDGE-2722: Update 4.18 catalog and operator
  releases/lvm-operator-catalog-4.18.5.yaml
  releases/lvm-operator-rhba-v4.18.5.yaml
Due: none

Update release version to 4.19.4
  release/container-build.args
Due: none

Update catalog templates
  release/catalog/lvm-operator-catalog-candidate-template.yaml
  release/catalog/lvm-operator-catalog-template.yaml
Due: lvm-operator-catalog-4-22-on-push

NO-ISSUE: update catalog template
  release/catalog/lvm-operator-catalog-candidate-template.yaml
  release/catalog/lvm-operator-catalog-template.yaml
Due: lvm-operator-catalog-4-22-on-push

NO-JIRA: update bundle for catalog
  release/catalog/lvm-operator-catalog-candidate-template.yaml
Due: lvm-operator-catalog-4-22-on-push

OCPEDGE-2722: Update catalog for 4.18.5
  releases/lvm-operator-catalog-4.18.5.yaml
Due: none

NO-JIRA: Update catalog template
  release/catalog/lvm-operator-catalog-candidate-template.yaml
  release/catalog/lvm-operator-catalog-template.yaml
Due: lvm-operator-catalog-4-22-on-push

OCPEDGE-3090: Release 4.19.4
  releases/lvm-operator-catalog-4.19.4.yaml
  releases/lvm-operator-rhba-v4.19.4.yaml
Due: none

Fix OCPBUGS-92090
  cmd/operator/operator.go
  cmd/vgmanager/vgmanager.go
  internal/cluster/type.go
  internal/controllers/lvmcluster/resource/vgmanager_daemonset.go
Due: lvm-operator-on-push

feat(vgmanager): add selinux support
  Makefile
  internal/controllers/lvmcluster/resource/topolvm_csi_driver.go
  internal/controllers/lvmcluster/resource/topolvm_csi_driver_test.go
  internal/controllers/lvmcluster/resource/vgmanager_daemonset.go
  internal/controllers/lvmcluster/resource/vgmanager_daemonset_test.go
  test/e2e/helper_test.go
  test/e2e/lvm_cluster_test.go
  test/e2e/lvm_pvc_test.go
  test/e2e/validation_test.go
Due: lvm-operator-on-push

Fix OCP-89594: Remove deviceSelector from devicediscovery template
  test/integration/qe_tests/testdata/lvmcluster-devicediscovery-template.yaml
Due: lvm-operator-on-push

tekton: fix ose-cli image tag in integration test pipeline
  .tekton/lvm-operator-integration-tests.yaml
Due: none

NO-JIRA: Pin integration-tests image to ose-cli-rhel9:v4.20
  .tekton/lvm-operator-integration-tests.yaml
Due: none
