Repository openshift/lvm-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: lvm-operator-catalog-4-22-on-push, lvm-operator-catalog-v4.13-on-push, lvm-operator-catalog-4-14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-4-16-on-push, lvm-operator-catalog-v4.17-on-push, lvm-operator-catalog-4-19-on-push, lvm-operator-catalog-4-20-on-pull-request, lvm-operator-on-push

lvm-operator-catalog-4-22-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.22-{{revision}}
  - name: dockerfile
    value: release/catalog/catalog.konflux.Dockerfile
  ...

lvm-operator-catalog-v4.13-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.13-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-4-14-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.14-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-v4.15-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.15-on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

lvm-operator-catalog-4-16-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.16-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-v4.17-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.17-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.19-{{revision}}
  - name: dockerfile
    value: konflux-catalog.Dockerfile
  - name: build-args
  ...

lvm-operator-catalog-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/logical-volume-manag-tenant/lvm-operator-catalog:v4.20-on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

update storageclass logic
  internal/controllers/lvmcluster/resource/topolvm_storageclass.go
Due: lvm-operator-on-push

only ignore trying to overide lvms owned params
  api/v1alpha1/lvmcluster_webhook.go
  internal/controllers/constants/constants.go
  internal/controllers/lvmcluster/resource/topolvm_storageclass.go
Due: lvm-operator-on-push

update labels logic
  internal/controllers/lvmcluster/resource/topolvm_storageclass.go
Due: lvm-operator-on-push

fix reserved label watining, reject empty key on labels and map failure
  api/v1alpha1/lvmcluster_webhook.go
  internal/controllers/constants/constants.go
  internal/controllers/lvmcluster/resource/topolvm_storageclass.go
Due: lvm-operator-on-push

add CEL handeling instead of webhook
  api/v1alpha1/lvmcluster_types.go
  api/v1alpha1/lvmcluster_webhook.go
  config/crd/bases/lvm.topolvm.io_lvmclusters.yaml
Due: lvm-operator-on-push

reject owned keys in params and labels
  api/v1alpha1/lvmcluster_webhook.go
Due: lvm-operator-on-push

fix: updating the base image for 4.22 to new image repository
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  release/catalog/catalog.konflux.Dockerfile
Due: lvm-operator-catalog-4-22-on-push

fix: updating the base image for 4.22 to new image repository (#2069)
  .tekton/lvm-operator-catalog-pull-request.yaml
  .tekton/lvm-operator-catalog-push.yaml
  release/catalog/catalog.konflux.Dockerfile
Due: lvm-operator-catalog-4-22-on-push

remove manual label handeling logic and migrate it at server side
  bundle/manifests/lvm.topolvm.io_lvmclusters.yaml
  internal/controllers/constants/constants.go
  internal/controllers/lvmcluster/resource/topolvm_storageclass.go
  internal/controllers/lvmcluster/resource/utils.go
Due: lvm-operator-on-push

remove redundant checks
  internal/controllers/lvmcluster/resource/topolvm_storageclass.go
Due: lvm-operator-on-push

feat(node-deletion): remove stale LVMVolumeGroup finalizers
  internal/controllers/node/removal/controller.go
  internal/controllers/node/removal/controller_test.go
Due: lvm-operator-on-push

lvms: introduce StorageClassOptions and migrate StorageClass management to SSA
  api/v1alpha1/lvmcluster_types.go
  api/v1alpha1/lvmcluster_webhook.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lvm.topolvm.io_lvmclusters.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/crd/bases/lvm.topolvm.io_lvmclusters.yaml
  internal/controllers/constants/constants.go
  internal/controllers/lvmcluster/controller.go
  internal/controllers/lvmcluster/controller_watches.go
  internal/controllers/lvmcluster/resource/topolvm_storageclass.go
  internal/controllers/vgmanager/controller.go
  internal/controllers/vgmanager/controller_test.go
Due: lvm-operator-on-push

Add z-stream-report Claude skill for release urgency analysis
  .claude/commands/lvms/z-stream-report.md
Due: none

fix: count critical CVEs in Blockers/Crit column
  .claude/commands/lvms/z-stream-report.md
Due: none

Add StorageClassOptions unit and e2e test coverage
  api/v1alpha1/lvmcluster_test.go
  internal/controllers/lvmcluster/controller_test.go
  internal/controllers/lvmcluster/resource/topolvm_storageclass_test.go
  internal/controllers/vgmanager/controller_test.go
  test/e2e/lvm_cluster_test.go
  test/e2e/lvm_suite_test.go
  test/e2e/storage_class_options_test.go
Due: lvm-operator-on-push

fix failnig tests
  test/e2e/lvm_cluster_test.go
  test/e2e/lvm_pvc_test.go
  test/e2e/storage_class_options_test.go
  test/e2e/validation_test.go
Due: lvm-operator-on-push

fix(z-stream-report): query both Bug and Vulnerability types, include all non-Closed statuses
  .claude/commands/lvms/z-stream-report.md
Due: none

fix: quote YAML frontmatter argument-hint to fix GitHub rendering
  .claude/commands/lvms/check-release-readiness.md
Due: none

NO-ISSUE: Fix operator cpe label
  release/operator/konflux.Dockerfile
Due: lvm-operator-on-push

NO-ISSUE: Fix cpe label for must-gather container
  release/must-gather/must-gather.konflux.Dockerfile
Due: none

update following ginko style and copywrite year
  internal/controllers/lvmcluster/controller_test.go
Due: lvm-operator-on-push

Fix cpe label for bundle
  release/bundle/bundle.konflux.Dockerfile
Due: none

Release 4.16.10
  releases/lvm-operator-catalog-4-16-10.yaml
  releases/lvm-operator-rhba-v4.16.10.yaml
Due: none

NO-JIRA: Add initial coderabbit configuration file
  .coderabbit.yaml
Due: none

Release 4.17.7
  releases/lvm-operator-catalog-4-17-7.yaml
  releases/lvm-operator-rhba-v4.17.7.yaml
Due: none

fix: adding the CPE label to the bundle
  release/bundle/bundle.konflux.Dockerfile
Due: none

fix: updated bundle cpe
  release/bundle/bundle.konflux.Dockerfile
Due: none

fix: updated bundle cpe (#2121)
  release/bundle/bundle.konflux.Dockerfile
Due: none

fix: adding the CPE label to the bundle (#2122)
  release/bundle/bundle.konflux.Dockerfile
Due: none

feat(manager): read TLS config from API server
  bundle/manifests/lvm.topolvm.io_lvmclusters.yaml
  bundle/manifests/lvm.topolvm.io_lvmvolumegroupnodestatuses.yaml
  bundle/manifests/lvm.topolvm.io_lvmvolumegroups.yaml
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  catalog/lvms-operator/v0.0.1.yaml
  cmd/operator/operator.go
  cmd/vgmanager/vgmanager.go
  config/crd/bases/lvm.topolvm.io_lvmclusters.yaml
  config/crd/bases/lvm.topolvm.io_lvmvolumegroupnodestatuses.yaml
  config/crd/bases/lvm.topolvm.io_lvmvolumegroups.yaml
  config/rbac/role.yaml
  config/rbac/vg_manager_clusterrole.yaml
  go.mod
  go.sum
  internal/controllers/lvmcluster/controller.go
  internal/controllers/vgmanager/validatelvs_test.go
Due: lvm-operator-on-push

update konflux task refs script to use pmt
  release/hack/update-konflux-task-refs.sh
Due: none

update konflux refs in pipelines
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: lvm-operator-on-push

Release 4.17.7
  releases/lvm-operator-catalog-4-17-8.yaml
  releases/lvm-operator-rhba-v4.17.8.yaml
Due: none

Path conditions:
  lvm-operator-catalog-4-22-on-push: (((any of: .tekton/lvm-operator-catalog-pull-request.yaml) or (any of: .tekton/lvm-operator-catalog-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: release/catalog/***)
  lvm-operator-catalog-v4.13-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.13-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.13-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.13.json)) or (any of: templates/lvm-operator-catalog-v4.13-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-14-on-push: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.14-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.14-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.14.json)) or (any of: templates/lvm-operator-catalog-v4.14-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.15-on-pull-request: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.15-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.15-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.15.yaml)) or (any of: templates/lvm-operator-catalog-v4.15-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-16-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.16-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.16-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.16.json)) or (any of: templates/lvm-operator-catalog-v4.16-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.17-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.17-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.17-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.17.yaml)) or (any of: templates/lvm-operator-catalog-v4.17-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-19-on-push: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.19-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.19.json)) or (any of: templates/lvm-operator-catalog-v4.19-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-4-20-on-pull-request: ((((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.20-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.20.json)) or (any of: templates/lvm-operator-catalog-v4.20-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-on-push: (((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/lvm-operator-pull-request.yaml)) or (any of: .tekton/lvm-operator-push.yaml)) or (any of: release/operator/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)) or (any of: api/***)
