Repository openshift/lvm-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: lvm-operator-catalog-v4.13-on-push, lvm-operator-catalog-v4.14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-v4.17-on-push, lvm-operator-on-push, lvms-must-gather-on-push

Path conditions:
  lvm-operator-catalog-v4.13-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.13-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.13-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.13.json)) or (any of: templates/lvm-operator-catalog-v4.13-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.14-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.14-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.14-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.14.json)) or (any of: templates/lvm-operator-catalog-v4.14-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.15-on-pull-request: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.15-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.15-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.15.yaml)) or (any of: templates/lvm-operator-catalog-v4.15-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-catalog-v4.17-on-push: (((((any of: .tekton/catalog-pipeline.yaml) or (any of: .tekton/lvm-operator-catalog-v4.17-pull-request.yaml)) or (any of: .tekton/lvm-operator-catalog-v4.17-push.yaml)) or (any of: catalogs/lvm-operator-catalog-v4.17.yaml)) or (any of: templates/lvm-operator-catalog-v4.17-template.yaml)) or (any of: konflux-catalog.Dockerfile)
  lvm-operator-on-push: (((((((((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/lvm-operator-pull-request.yaml)) or (any of: .tekton/lvm-operator-push.yaml)) or (any of: release/operator/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: Makefile)) or (any of: cmd/***)) or (any of: internal/***)) or (any of: test/***)) or (any of: vendor/***)) or (any of: api/***)
  lvms-must-gather-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/lvms-must-gather-pull-request.yaml)) or (any of: .tekton/lvms-must-gather-push.yaml)) or (any of: must-gather/***)) or (any of: release/must-gather/***)

fix: rpm-lockfile updates
  release/must-gather/rpms.lock.yaml
  release/operator/rpms.lock.yaml
Due: lvm-operator-on-push, lvms-must-gather-on-push

fix: updating the rpmlock files
  release/must-gather/rpms.lock.yaml
  release/operator/rpms.lock.yaml
Due: lvm-operator-on-push, lvms-must-gather-on-push

chore: updated rpmlock files
  release/must-gather/rpms.lock.yaml
  release/operator/rpms.lock.yaml
Due: lvm-operator-on-push, lvms-must-gather-on-push

chore: updated rpm lockfiles
  release/must-gather/rpms.lock.yaml
  release/operator/rpms.lock.yaml
Due: lvm-operator-on-push, lvms-must-gather-on-push

chore: updated rpm lockfile
  release/must-gather/rpms.lock.yaml
Due: lvms-must-gather-on-push

fix: added the must-gather annotation to the bundle
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  release/hack/render_templates.sh
Due: none

fix: updated the dockerfile
  Dockerfile
  Makefile
Due: lvm-operator-on-push

fix: shift the controller tools version to rely on the go.mod
  Makefile
  go.mod
  go.sum
Due: lvm-operator-on-push

fix: generate new bundle files after adding the annotation
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/manifests/bases/clusterserviceversion.yaml.in
  config/manifests/bases/lvms-operator.clusterserviceversion.yaml
Due: none

change default namespace
  CONTRIBUTING.md
  Makefile
  README.md
  api/v1alpha1/lvmcluster_test.go
  bundle/manifests/lvms-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/default/kustomization.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/clusterserviceversion.yaml.in
  config/manifests/bases/lvms-operator.clusterserviceversion.yaml
  config/olm-deploy/kustomization.yaml
  config/olm-deploy/lvms-catalogsource.yaml
  config/olm-deploy/lvms-operator-subscription.yaml
  config/olm-deploy/openshift-lvm-storage-namespace.yaml
  config/olm-deploy/openshift-lvm-storage-operatorgroup.yaml
  config/olm-deploy/openshift-storage-operatorgroup.yaml
  config/prometheus/kustomization.yaml
  config/prometheus/monitor.yaml
  config/webhook/kustomization.yaml
  docs/design/proposals/logical-volume-manager-storage-api-v2.md
  docs/troubleshooting.md
  hack/create-buildconfig.sh
  internal/controllers/lvmcluster/suite_test.go
  internal/controllers/persistent-volume-claim/controller_test.go
  internal/controllers/persistent-volume/controller_test.go
  internal/controllers/vgmanager/controller_test.go
  internal/migration/microlvms/cleanup_test.go
  internal/migration/wipe-refactor/annotate_test.go
  must-gather/collection-scripts/gather_namespaced_resources
  test/e2e/config_test.go
  test/e2e/subscription_test.go
  test/performance/collector_test.go
  test/performance/main.go
Due: lvm-operator-on-push, lvms-must-gather-on-push

fix: updating the application name for the tekton pipelines
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
Due: lvm-operator-on-push, lvms-must-gather-on-push

fix: added the must-gather annotation to the bundle
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  catalog/lvms-operator/v0.0.1.yaml
  config/manifests/bases/clusterserviceversion.yaml.in
  config/manifests/bases/lvms-operator.clusterserviceversion.yaml
  release/hack/render_templates.sh
Due: none

fix: updating the kube-rbac-proxy sha
  release/bundle/bundle.konflux.Dockerfile
Due: none

upgrade openshift/topolvm
  go.mod
  go.sum
  vendor/github.com/topolvm/topolvm/.golangci.yml
  vendor/github.com/topolvm/topolvm/CODEOWNERS
  vendor/github.com/topolvm/topolvm/Dockerfile
  vendor/github.com/topolvm/topolvm/Makefile
  vendor/github.com/topolvm/topolvm/README.md
  vendor/github.com/topolvm/topolvm/RELEASE.md
  vendor/github.com/topolvm/topolvm/container-structure-test.yaml
  vendor/github.com/topolvm/topolvm/internal/driver/controller.go
  vendor/github.com/topolvm/topolvm/internal/driver/node.go
  vendor/github.com/topolvm/topolvm/internal/filesystem/util.go
  vendor/github.com/topolvm/topolvm/internal/lvmd/command/lvm.go
  vendor/github.com/topolvm/topolvm/internal/lvmd/command/lvm_lv_attr.go
  vendor/github.com/topolvm/topolvm/internal/lvmd/lvservice.go
  vendor/github.com/topolvm/topolvm/pkg/lvmd/proto/lvmd.pb.go
  vendor/github.com/topolvm/topolvm/pkg/lvmd/proto/lvmd_grpc.pb.go
  vendor/github.com/topolvm/topolvm/versions.mk
  vendor/modules.txt
Due: lvm-operator-on-push

fix: various catalog and scripting updates
  .tekton/lvm-operator-catalog-v4.12-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.12-push.yaml
  .tekton/lvm-operator-catalog-v4.13-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.13-push.yaml
  .tekton/lvm-operator-catalog-v4.14-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.14-push.yaml
  .tekton/lvm-operator-catalog-v4.15-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.15-push.yaml
  .tekton/lvm-operator-catalog-v4.16-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.16-push.yaml
  .tekton/lvm-operator-catalog-v4.17-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.17-push.yaml
  .tekton/lvm-operator-catalog-v4.18-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.18-push.yaml
  .tekton/lvm-operator-catalog-v4.19-pull-request.yaml
  .tekton/lvm-operator-catalog-v4.19-push.yaml
  catalogs/lvm-operator-catalog-v4.12.json
  catalogs/lvm-operator-catalog-v4.13.json
  catalogs/lvm-operator-catalog-v4.19.json
  hack/generate_catalogs.sh
  hack/generate_released_templates.sh
  templates/lvm-operator-catalog-v4.12-template.yaml
  templates/lvm-operator-catalog-v4.13-template.yaml
  templates/lvm-operator-catalog-v4.19-template.yaml
Due: lvm-operator-catalog-v4.13-on-push, lvm-operator-catalog-v4.14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-v4.17-on-push

fix: changing the catalog channel names to match legacy naming conventions
  catalogs/lvm-operator-catalog-v4.14.json
  catalogs/lvm-operator-catalog-v4.15.json
  catalogs/lvm-operator-catalog-v4.16.json
  catalogs/lvm-operator-catalog-v4.17.json
  catalogs/lvm-operator-catalog-v4.18.json
  catalogs/lvm-operator-catalog-v4.19.json
  hack/generate_catalogs.sh
Due: lvm-operator-catalog-v4.14-on-push

fix: updating the csv to use the redhat rbac proxy
  Makefile
  bundle/manifests/lvms-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
Due: lvm-operator-on-push

fix: base image and golang version updates
  Dockerfile
  go.mod
  release/bundle/bundle.konflux.Dockerfile
  release/operator/konflux.Dockerfile
Due: lvm-operator-on-push

chore: precommit hook updates
  .pre-commit-config.yaml
  api/v1alpha1/webhook_suite_test.go
  cmd/vgmanager/vgmanager.go
  internal/controllers/lvmcluster/controller.go
  internal/controllers/lvmcluster/resource/utils.go
  internal/controllers/lvmcluster/resource/vgmanager.go
  internal/controllers/lvmcluster/resource/vgmanager_daemonset.go
  internal/controllers/lvmcluster/suite_test.go
  internal/controllers/node/removal/controller.go
  internal/controllers/vgmanager/controller.go
  internal/controllers/vgmanager/devices.go
  internal/controllers/vgmanager/dmsetup/dmsetup.go
  internal/controllers/vgmanager/dmsetup/dmsetup_test.go
  internal/controllers/vgmanager/lvm/lvm_test.go
  internal/controllers/vgmanager/lvmd/lvmd.go
  internal/controllers/vgmanager/wipe_devices.go
  internal/controllers/vgmanager/wipefs/wipefs_test.go
Due: lvm-operator-on-push

feat(readme): add loop devices info
  README.md
Due: none

upgrade openshift/topolvm
  go.mod
  go.sum
Due: lvm-operator-on-push

fix: swapping the catalogs to use digest references to the bundles
  catalogs/lvm-operator-catalog-v4.14.json
  catalogs/lvm-operator-catalog-v4.15.json
  catalogs/lvm-operator-catalog-v4.16.json
  catalogs/lvm-operator-catalog-v4.17.json
  catalogs/lvm-operator-catalog-v4.18.json
  catalogs/lvm-operator-catalog-v4.19.json
  hack/generate_released_templates.sh
  templates/lvm-operator-catalog-v4.14-template.yaml
  templates/lvm-operator-catalog-v4.15-template.yaml
  templates/lvm-operator-catalog-v4.16-template.yaml
  templates/lvm-operator-catalog-v4.17-template.yaml
  templates/lvm-operator-catalog-v4.18-template.yaml
  templates/lvm-operator-catalog-v4.19-template.yaml
Due: lvm-operator-catalog-v4.14-on-push, lvm-operator-catalog-v4.15-on-pull-request, lvm-operator-catalog-v4.17-on-push

chore: update 4.19 references to 4.19.1
  release/bundle/bundle.konflux.Dockerfile
  release/container-build.args
Due: none

chore: update the tekton pipelines to trigger off the container-build.args file
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
  .tekton/lvm-operator-pull-request.yaml
  .tekton/lvm-operator-push.yaml
  .tekton/lvms-must-gather-pull-request.yaml
  .tekton/lvms-must-gather-push.yaml
Due: lvm-operator-on-push, lvms-must-gather-on-push

chore: updating the operand and must-gather image refs
  release/bundle/bundle.konflux.Dockerfile
Due: none

chore: updated the bundle pipeline
  .tekton/lvm-operator-bundle-pull-request.yaml
  .tekton/lvm-operator-bundle-push.yaml
Due: none
